page {
  --cdm-button-height: 38px; // 默认尺寸高度
  --cdm-button-padding: var(--cdm-theme-spacing-16); // 默认尺寸左右内边距
  --cdm-button-border-width: var(--cdm-theme-border-width-base); // 边框宽度
  --cdm-button-border-radius: var(--cdm-theme-border-radius-base); // 边框圆角
  --cdm-button-font-size: var(--cdm-theme-font-size-body); // 字体大小
  --cdm-button-font-weight: var(--cdm-theme-font-weight-regular); // 字体字重
  --cdm-button-icon-size: var(--cdm-theme-font-size-subhead); // 图标大小
  --cdm-button-icon-margin: var(--cdm-theme-icon-margin); // 图标和文字间距
  --cdm-button-large-height: 46px; // 大尺寸按钮高度
  --cdm-button-large-padding: var(--cdm-theme-spacing-24); // 大尺寸按钮左右内边距
  --cdm-button-large-border-width: var(--cdm-theme-border-width-base); // 大尺寸按钮边框宽度
  --cdm-button-large-border-radius: var(--cdm-theme-border-radius-base); // 大尺寸按钮边框圆角
  --cdm-button-large-font-size: var(--cdm-theme-font-size-subhead); // 大尺寸按钮字体大小
  --cdm-button-large-font-weight: var(--cdm-theme-font-weight-regular); // 大尺寸按钮字体字重
  --cdm-button-large-icon-size: var(--cdm-theme-font-size-h6); // 大尺寸按钮图标大小
  --cdm-button-small-height: 30px; // 小尺寸按钮高度
  --cdm-button-small-padding: var(--cdm-theme-spacing-8); // 小尺寸按钮左右内边距
  --cdm-button-small-border-width: var(--cdm-theme-border-width-base); // 小尺寸按钮边框宽度
  --cdm-button-small-border-radius: var(--cdm-theme-border-radius-base); // 小尺寸按钮边框圆角
  --cdm-button-small-font-size: var(--cdm-theme-font-size-body); // 小尺寸按钮字体大小
  --cdm-button-small-font-weight: var(--cdm-theme-font-weight-regular); // 小尺寸按钮字体字重
  --cdm-button-small-icon-size: var(--cdm-theme-font-size-subhead); // 小尺寸按钮图标大小
  --cdm-button-mini-height: 24px; // 迷你尺寸按钮高度
  --cdm-button-mini-padding: var(--cdm-theme-spacing-8); // 迷你尺寸按钮水平内边距
  --cdm-button-mini-border-width: var(--cdm-theme-border-width-base); // 迷你尺寸按钮边框宽度
  --cdm-button-mini-border-radius: var(--cdm-theme-border-radius-base); // 迷你尺寸按钮边框圆角
  --cdm-button-mini-font-size: var(--cdm-theme-font-size-caption); // 迷你尺寸按钮字体大小
  --cdm-button-mini-font-zoom: 0.92; // 迷你尺寸按钮字体大小缩放比例
  --cdm-button-mini-font-weight: var(--cdm-theme-font-weight-regular); // 迷你尺寸按钮字重
  --cdm-button-mini-icon-size: var(--cdm-theme-font-size-caption); // 迷你尺寸按钮图标大小
  --cdm-button-contained-primary-border-color: var(--cdm-theme-color-primary); // 实心主要按钮边框颜色
  --cdm-button-contained-primary-bg-color: var(--cdm-theme-color-primary); // 实心主要按钮背景色
  --cdm-button-contained-primary-font-color: var(--cdm-theme-color-white); // 实心主要按钮字体颜色
  --cdm-button-contained-primary-active-border-color: var(--cdm-theme-color-primary-active); // 实心主要按钮激活状态边框颜色
  --cdm-button-contained-primary-active-bg-color: var(--cdm-theme-color-primary-active); // 实心主要按钮激活状态背景色
  --cdm-button-contained-primary-active-font-color: var(--cdm-theme-color-white); // 实心主要按钮激活状态字体颜色
  --cdm-button-contained-primary-disabled-border-color: var(--cdm-theme-color-primary-disabled); // 实心主要按钮禁用状态边框颜色
  --cdm-button-contained-primary-disabled-bg-color: var(--cdm-theme-color-primary-disabled); // 实心主要按钮禁用状态背景色
  --cdm-button-contained-primary-disabled-font-color: var(--cdm-theme-color-white); // 实心主要按钮禁用状态字体颜色
  --cdm-button-contained-success-border-color: var(--cdm-theme-color-success); // 实心成功按钮边框颜色
  --cdm-button-contained-success-bg-color: var(--cdm-theme-color-success); // 实心成功按钮背景色
  --cdm-button-contained-success-font-color: var(--cdm-theme-color-white); // 实心成功按钮字体颜色
  --cdm-button-contained-success-active-border-color: var(--cdm-theme-color-success-active); // 实心成功按钮激活状态边框颜色
  --cdm-button-contained-success-active-bg-color: var(--cdm-theme-color-success-active); // 实心成功按钮激活状态背景色
  --cdm-button-contained-success-active-font-color: var(--cdm-theme-color-white); // 实心成功按钮激活状态字体颜色
  --cdm-button-contained-success-disabled-border-color: var(--cdm-theme-color-success-disabled); // 实心成功按钮禁用状态边框颜色
  --cdm-button-contained-success-disabled-bg-color: var(--cdm-theme-color-success-disabled); // 实心成功按钮禁用状态背景色
  --cdm-button-contained-success-disabled-font-color: var(--cdm-theme-color-white); // 实心成功按钮禁用状态字体颜色
  --cdm-button-contained-warning-border-color: var(--cdm-theme-color-warning); // 实心警告按钮边框颜色
  --cdm-button-contained-warning-bg-color: var(--cdm-theme-color-warning); // 实心警告按钮背景色
  --cdm-button-contained-warning-font-color: var(--cdm-theme-color-white); // 实心警告按钮字体颜色
  --cdm-button-contained-warning-active-border-color: var(--cdm-theme-color-warning-active); // 实心警告按钮激活状态边框颜色
  --cdm-button-contained-warning-active-bg-color: var(--cdm-theme-color-warning-active); // 实心警告按钮激活状态背景色
  --cdm-button-contained-warning-active-font-color: var(--cdm-theme-color-white); // 实心警告按钮激活状态字体颜色
  --cdm-button-contained-warning-disabled-border-color: var(--cdm-theme-color-warning-disabled); // 实心警告按钮禁用状态边框颜色
  --cdm-button-contained-warning-disabled-bg-color: var(--cdm-theme-color-warning-disabled); // 实心警告按钮禁用状态背景色
  --cdm-button-contained-warning-disabled-font-color: var(--cdm-theme-color-white); // 实心警告按钮禁用状态字体颜色
  --cdm-button-contained-danger-border-color: var(--cdm-theme-color-danger); // 实心错误按钮边框颜色
  --cdm-button-contained-danger-bg-color: var(--cdm-theme-color-danger); // 实心错误按钮背景色
  --cdm-button-contained-danger-font-color: var(--cdm-theme-color-white); // 实心错误按钮字体颜色
  --cdm-button-contained-danger-active-border-color: var(--cdm-theme-color-danger-active); // 实心错误按钮激活状态边框颜色
  --cdm-button-contained-danger-active-bg-color: var(--cdm-theme-color-danger-active); // 实心错误按钮激活状态背景色
  --cdm-button-contained-danger-active-font-color: var(--cdm-theme-color-white); // 实心错误按钮激活状态字体颜色
  --cdm-button-contained-danger-disabled-border-color: var(--cdm-theme-color-danger-disabled); // 实心错误按钮禁用状态边框颜色
  --cdm-button-contained-danger-disabled-bg-color: var(--cdm-theme-color-danger-disabled); // 实心错误按钮禁用状态背景色
  --cdm-button-contained-danger-disabled-font-color: var(--cdm-theme-color-white); // 实心错误按钮禁用状态字体颜色
  --cdm-button-contained-info-border-color: var(--cdm-theme-color-info); // 实心信息按钮边框颜色
  --cdm-button-contained-info-bg-color: var(--cdm-theme-color-info); // 实心信息按钮背景色
  --cdm-button-contained-info-font-color: var(--cdm-theme-color-white); // 实心信息按钮字体颜色
  --cdm-button-contained-info-active-border-color: var(--cdm-theme-color-info-active); // 实心信息按钮激活状态边框颜色
  --cdm-button-contained-info-active-bg-color: var(--cdm-theme-color-info-active); // 实心信息按钮激活状态背景色
  --cdm-button-contained-info-active-font-color: var(--cdm-theme-color-white); // 实心信息按钮激活状态字体颜色
  --cdm-button-contained-info-disabled-border-color: var(--cdm-theme-color-info-disabled); // 实心信息按钮禁止状态下的边框颜色
  --cdm-button-contained-info-disabled-bg-color: var(--cdm-theme-color-info-disabled); // 实心信息按钮禁止状态下的背景色
  --cdm-button-contained-info-disabled-font-color: var(--cdm-theme-color-white); // 实心信息按钮禁止状态下的字体颜色
  --cdm-button-contained-secondary-primary-border-color: transparent; // 实心二级主要按钮边框颜色
  --cdm-button-contained-secondary-primary-bg-color: #{$cube--blue-0}; // 实心二级主要按钮背景色
  --cdm-button-contained-secondary-primary-font-color: var(--cdm-theme-color-primary); // 实心二级主要按钮背景色
  --cdm-button-contained-secondary-primary-active-border-color: transparent; // 实心二级主要按钮激活状态边框颜色
  --cdm-button-contained-secondary-primary-active-bg-color: #{$cube--blue-2}; // 实心二级主要按钮激活状态背景色
  --cdm-button-contained-secondary-primary-active-font-color: var(--cdm-theme-color-primary-active); // 实心二级主要按钮激活状态字体颜色
  --cdm-button-contained-secondary-primary-disabled-border-color: transparent; // 实心二级主要按钮禁用状态边框颜色
  --cdm-button-contained-secondary-primary-disabled-bg-color: #{$cube--blue-0}; // 实心二级主要按钮禁用状态背景色
  --cdm-button-contained-secondary-primary-disabled-font-color: var(--cdm-theme-color-primary-disabled); // 实心二级主要按钮禁用状态字体颜色
  --cdm-button-contained-secondary-success-border-color: transparent; // 实心二级成功按钮边框颜色
  --cdm-button-contained-secondary-success-bg-color: #{$cube--green-0}; // 实心二级成功按钮背景色
  --cdm-button-contained-secondary-success-font-color: var(--cdm-theme-color-success); // 实心二级成功按钮背景色
  --cdm-button-contained-secondary-success-active-border-color: transparent; // 实心二级成功按钮激活状态边框颜色
  --cdm-button-contained-secondary-success-active-bg-color: #{$cube--green-2}; // 实心二级成功按钮激活状态背景色
  --cdm-button-contained-secondary-success-active-font-color: var(--cdm-theme-color-success-active); // 实心二级成功按钮激活状态字体颜色
  --cdm-button-contained-secondary-success-disabled-border-color: transparent; //实心二级成功按钮禁用状态边框颜色
  --cdm-button-contained-secondary-success-disabled-bg-color: #{$cube--green-0}; // 实心二级成功按钮禁用状态背景色
  --cdm-button-contained-secondary-success-disabled-font-color: var(--cdm-theme-color-success-disabled); // 实心二级成功按钮禁用状态字体颜色
  --cdm-button-contained-secondary-warning-border-color: transparent; // 实心二级警告按钮边框颜色
  --cdm-button-contained-secondary-warning-bg-color: #{$cube--orange-0}; // 实心二级警告按钮背景色
  --cdm-button-contained-secondary-warning-font-color: var(--cdm-theme-color-warning); // 实心二级警告按钮背景色
  --cdm-button-contained-secondary-warning-active-border-color: transparent; // 实心二级警告按钮激活状态边框颜色
  --cdm-button-contained-secondary-warning-active-bg-color: #{$cube--orange-2}; // 实心二级警告按钮激活状态背景色
  --cdm-button-contained-secondary-warning-active-font-color: var(--cdm-theme-color-warning-active); // 实心二级警告按钮激活状态字体颜色
  --cdm-button-contained-secondary-warning-disabled-border-color: transparent; //实心二级警告按钮禁用状态边框颜色
  --cdm-button-contained-secondary-warning-disabled-bg-color: #{$cube--orange-0}; // 实心二级警告按钮禁用状态背景色
  --cdm-button-contained-secondary-warning-disabled-font-color: var(--cdm-theme-color-warning-disabled); // 实心二级警告按钮禁用状态字体颜色
  --cdm-button-contained-secondary-danger-border-color: transparent; // 实心二级错误按钮边框颜色
  --cdm-button-contained-secondary-danger-bg-color: #{$cube--red-0}; // 实心二级错误按钮背景色
  --cdm-button-contained-secondary-danger-font-color: var(--cdm-theme-color-danger); // 实心二级错误按钮背景色
  --cdm-button-contained-secondary-danger-active-border-color: transparent; // 实心二级错误按钮激活状态边框颜色
  --cdm-button-contained-secondary-danger-active-bg-color: #{$cube--red-2}; // 实心二级错误按钮激活状态背景色
  --cdm-button-contained-secondary-danger-active-font-color: var(--cdm-theme-color-danger-active); // 实心二级错误按钮激活状态字体颜色
  --cdm-button-contained-secondary-danger-disabled-border-color: transparent; //实心二级错误按钮禁用状态边框颜色
  --cdm-button-contained-secondary-danger-disabled-bg-color: #{$cube--red-0}; // 实心二级错误按钮禁用状态背景色
  --cdm-button-contained-secondary-danger-disabled-font-color: var(--cdm-theme-color-danger-disabled); // 实心二级错误按钮禁用状态字体颜色
  --cdm-button-contained-secondary-info-border-color: transparent; // 实心二级信息按钮边框颜色
  --cdm-button-contained-secondary-info-bg-color: #{$cube--gray-0}; // 实心二级信息按钮背景色
  --cdm-button-contained-secondary-info-font-color: var(--cdm-theme-color-info); // 实心二级信息按钮背景色
  --cdm-button-contained-secondary-info-active-border-color: transparent; // 实心二级信息按钮激活状态边框颜色
  --cdm-button-contained-secondary-info-active-bg-color: #{$cube--gray-2}; // 实心二级信息按钮激活状态背景色
  --cdm-button-contained-secondary-info-active-font-color: var(--cdm-theme-color-info-active); // 实心二级信息按钮激活状态字体颜色
  --cdm-button-contained-secondary-info-disabled-border-color: transparent; //实心二级信息按钮禁用状态边框颜色
  --cdm-button-contained-secondary-info-disabled-bg-color: #{$cube--gray-0}; // 实心二级信息按钮禁用状态背景色
  --cdm-button-contained-secondary-info-disabled-font-color: var(--cdm-theme-color-info-disabled); // 实心二级信息按钮禁用状态字体颜色
  --cdm-button-outlined-primary-border-color: var(--cdm-theme-color-primary); // 线框主要按钮边框颜色
  --cdm-button-outlined-primary-bg-color: transparent; // 线框主要按钮背景色
  --cdm-button-outlined-primary-font-color: var(--cdm-theme-color-primary); // 线框主要按钮字体颜色
  --cdm-button-outlined-primary-active-border-color: var(--cdm-theme-color-primary-active); // 线框主要按钮激活状态边框颜色
  --cdm-button-outlined-primary-active-bg-color: transparent; // 线框主要按钮激活状态背景色
  --cdm-button-outlined-primary-active-font-color: var(--cdm-theme-color-primary-active); // 线框主要按钮激活状态字体颜色
  --cdm-button-outlined-primary-disabled-border-color: var(--cdm-theme-color-primary-disabled); // 线框主要按钮禁用状态边框颜色
  --cdm-button-outlined-primary-disabled-bg-color: transparent; // 线框主要按钮禁用状态背景色
  --cdm-button-outlined-primary-disabled-font-color: var(--cdm-theme-color-primary-disabled); // 线框主要按钮禁用状态字体颜色
  --cdm-button-outlined-success-border-color: var(--cdm-theme-color-success); // 线框成功按钮边框颜色
  --cdm-button-outlined-success-bg-color: transparent; // 线框成功按钮背景色
  --cdm-button-outlined-success-font-color: var(--cdm-theme-color-success); // 线框成功按钮字体颜色
  --cdm-button-outlined-success-active-border-color: var(--cdm-theme-color-success-active); // 线框成功按钮激活状态边框颜色
  --cdm-button-outlined-success-active-bg-color: transparent; // 线框成功按钮激活状态背景色
  --cdm-button-outlined-success-active-font-color: var(--cdm-theme-color-success-active); // 线框成功按钮激活状态字体颜色
  --cdm-button-outlined-success-disabled-border-color: var(--cdm-theme-color-success-disabled); // 线框成功按钮禁用状态边框颜色
  --cdm-button-outlined-success-disabled-bg-color: transparent; // 线框成功按钮禁用状态背景色
  --cdm-button-outlined-success-disabled-font-color: var(--cdm-theme-color-success-disabled); // 线框成功按钮禁用状态字体颜色
  --cdm-button-outlined-warning-border-color: var(--cdm-theme-color-warning); // 线框警告按钮边框颜色
  --cdm-button-outlined-warning-bg-color: transparent; // 线框警告按钮背景色
  --cdm-button-outlined-warning-font-color: var(--cdm-theme-color-warning); // 线框警告按钮字体颜色
  --cdm-button-outlined-warning-active-border-color: var(--cdm-theme-color-warning-active); // 线框警告按钮激活状态边框颜色
  --cdm-button-outlined-warning-active-bg-color: transparent; // 线框警告按钮激活状态背景色
  --cdm-button-outlined-warning-active-font-color: var(--cdm-theme-color-warning-active); // 线框警告按钮激活状态字体颜色
  --cdm-button-outlined-warning-disabled-border-color: var(--cdm-theme-color-warning-disabled); // 线框警告按钮禁用状态边框颜色
  --cdm-button-outlined-warning-disabled-bg-color: transparent; // 线框警告按钮禁用状态背景色
  --cdm-button-outlined-warning-disabled-font-color: var(--cdm-theme-color-warning-disabled); // 线框警告按钮禁用状态字体颜色
  --cdm-button-outlined-danger-border-color: var(--cdm-theme-color-danger); // 线框错误按钮边框颜色
  --cdm-button-outlined-danger-bg-color: transparent; // 线框错误按钮背景色
  --cdm-button-outlined-danger-font-color: var(--cdm-theme-color-danger); // 线框错误按钮字体颜色
  --cdm-button-outlined-danger-active-border-color: var(--cdm-theme-color-danger-active); // 线框错误按钮激活状态边框颜色
  --cdm-button-outlined-danger-active-bg-color: transparent; // 线框错误按钮激活状态背景色
  --cdm-button-outlined-danger-active-font-color: var(--cdm-theme-color-danger-active); // 线框错误按钮激活状态字体颜色
  --cdm-button-outlined-danger-disabled-border-color: var(--cdm-theme-color-danger-disabled); // 线框错误按钮禁用状态边框颜色
  --cdm-button-outlined-danger-disabled-bg-color: transparent; // 线框错误按钮禁用状态背景色
  --cdm-button-outlined-danger-disabled-font-color: var(--cdm-theme-color-danger-disabled); // 线框错误按钮禁用状态字体颜色
  --cdm-button-outlined-info-border-color: var(--cdm-theme-color-info); // 线框信息按钮边框颜色
  --cdm-button-outlined-info-bg-color: transparent; // 线框信息按钮背景色
  --cdm-button-outlined-info-font-color: var(--cdm-theme-color-info); // 线框信息按钮字体颜色
  --cdm-button-outlined-info-active-border-color: var(--cdm-theme-color-info-active); // 线框信息按钮激活状态边框颜色
  --cdm-button-outlined-info-active-bg-color: transparent; // 线框信息按钮激活状态背景色
  --cdm-button-outlined-info-active-font-color: var(--cdm-theme-color-info-active); // 线框信息按钮激活状态字体颜色
  --cdm-button-outlined-info-disabled-border-color: var(--cdm-theme-color-info-disabled); // 线框信息按钮禁用状态边框颜色
  --cdm-button-outlined-info-disabled-bg-color: transparent; // 线框信息按钮禁用状态背景色
  --cdm-button-outlined-info-disabled-font-color: var(--cdm-theme-color-info-disabled); // 线框信息按钮禁用状态字体颜色
  --cdm-button-outlined-secondary-primary-border-color: #{$cube--blue-2}; // 线框二级主要按钮边框颜色
  --cdm-button-outlined-secondary-primary-bg-color: #{$cube--blue-0}; // 线框二级主要按钮背景色
  --cdm-button-outlined-secondary-primary-font-color: var(--cdm-theme-color-primary); // 线框二级主要按钮背景色
  --cdm-button-outlined-secondary-primary-active-border-color: var(--cdm-theme-color-primary-active); // 线框二级主要按钮激活状态边框颜色
  --cdm-button-outlined-secondary-primary-active-bg-color: #{$cube--blue-2}; // 线框二级主要按钮激活状态背景色
  --cdm-button-outlined-secondary-primary-active-font-color: var(--cdm-theme-color-primary-active); // 线框二级主要按钮激活状态字体颜色
  --cdm-button-outlined-secondary-primary-disabled-border-color: var(--cdm-theme-color-primary-disabled); // 线框二级主要按钮禁用状态边框颜色
  --cdm-button-outlined-secondary-primary-disabled-bg-color: #{$cube--blue-0}; // 线框二级主要按钮禁用状态背景色
  --cdm-button-outlined-secondary-primary-disabled-font-color: var(--cdm-theme-color-primary-disabled); // 线框二级主要按钮禁用状态字体颜色
  --cdm-button-outlined-secondary-success-border-color: #{$cube--green-2}; // 线框二级成功按钮边框颜色
  --cdm-button-outlined-secondary-success-bg-color: #{$cube--green-0}; // 线框二级成功按钮背景色
  --cdm-button-outlined-secondary-success-font-color: var(--cdm-theme-color-success); // 线框二级成功按钮背景色
  --cdm-button-outlined-secondary-success-active-border-color: var(--cdm-theme-color-success-active); // 线框二级成功按钮激活状态边框颜色
  --cdm-button-outlined-secondary-success-active-bg-color: #{$cube--green-2}; // 线框二级成功按钮激活状态背景色
  --cdm-button-outlined-secondary-success-active-font-color: var(--cdm-theme-color-success-active); // 线框二级成功按钮激活状态字体颜色
  --cdm-button-outlined-secondary-success-disabled-border-color: var(--cdm-theme-color-success-disabled); // 线框二级成功按钮禁用状态边框颜色
  --cdm-button-outlined-secondary-success-disabled-bg-color: #{$cube--green-0}; // 线框二级成功按钮禁用状态背景色
  --cdm-button-outlined-secondary-success-disabled-font-color: var(--cdm-theme-color-success-disabled); // 线框二级成功按钮禁用状态字体颜色
  --cdm-button-outlined-secondary-warning-border-color: #{$cube--orange-2}; // 线框二级警告按钮边框颜色
  --cdm-button-outlined-secondary-warning-bg-color: #{$cube--orange-0}; // 线框二级警告按钮背景色
  --cdm-button-outlined-secondary-warning-font-color: var(--cdm-theme-color-warning); // 线框二级警告按钮背景色
  --cdm-button-outlined-secondary-warning-active-border-color: var(--cdm-theme-color-warning-active); // 线框二级警告按钮激活状态边框颜色
  --cdm-button-outlined-secondary-warning-active-bg-color: #{$cube--orange-2}; // 线框二级警告按钮激活状态背景色
  --cdm-button-outlined-secondary-warning-active-font-color: var(--cdm-theme-color-warning-active); // 线框二级警告按钮激活状态字体颜色
  --cdm-button-outlined-secondary-warning-disabled-border-color: var(--cdm-theme-color-warning-disabled); // 线框二级警告按钮禁用状态边框颜色
  --cdm-button-outlined-secondary-warning-disabled-bg-color: #{$cube--orange-0}; // 线框二级警告按钮禁用状态背景色
  --cdm-button-outlined-secondary-warning-disabled-font-color: var(--cdm-theme-color-warning-disabled); // 线框二级警告按钮禁用状态字体颜色
  --cdm-button-outlined-secondary-danger-border-color: #{$cube--red-2}; // 线框二级错误按钮边框颜色
  --cdm-button-outlined-secondary-danger-bg-color: #{$cube--red-0}; // 线框二级错误按钮背景色
  --cdm-button-outlined-secondary-danger-font-color: var(--cdm-theme-color-danger); // 线框二级错误按钮背景色
  --cdm-button-outlined-secondary-danger-active-border-color: var(--cdm-theme-color-danger-active); // 线框二级错误按钮激活状态边框颜色
  --cdm-button-outlined-secondary-danger-active-bg-color: #{$cube--red-2}; // 线框二级错误按钮激活状态背景色
  --cdm-button-outlined-secondary-danger-active-font-color: var(--cdm-theme-color-danger-active); // 线框二级错误按钮激活状态字体颜色
  --cdm-button-outlined-secondary-danger-disabled-border-color: var(--cdm-theme-color-danger-disabled); // 线框二级错误按钮禁用状态边框颜色
  --cdm-button-outlined-secondary-danger-disabled-bg-color: #{$cube--red-0}; // 线框二级错误按钮禁用状态背景色
  --cdm-button-outlined-secondary-danger-disabled-font-color: var(--cdm-theme-color-danger-disabled); // 线框二级错误按钮禁用状态字体颜色
  --cdm-button-outlined-secondary-info-border-color: #{$cube--gray-2}; // 线框二级信息按钮边框颜色
  --cdm-button-outlined-secondary-info-bg-color: #{$cube--gray-0}; // 线框二级信息按钮背景色
  --cdm-button-outlined-secondary-info-font-color: var(--cdm-theme-color-info); // 线框二级信息按钮背景色
  --cdm-button-outlined-secondary-info-active-border-color: var(--cdm-theme-color-info-active); // 线框二级信息按钮激活状态边框颜色
  --cdm-button-outlined-secondary-info-active-bg-color: #{$cube--gray-2}; // 线框二级信息按钮激活状态背景色
  --cdm-button-outlined-secondary-info-active-font-color: var(--cdm-theme-color-info-active); // 线框二级信息按钮激活状态字体颜色
  --cdm-button-outlined-secondary-info-disabled-border-color: #{$cube--gray-1}; //线框二级信息按钮禁用状态边框颜色
  --cdm-button-outlined-secondary-info-disabled-bg-color: #{$cube--gray-0}; // 线框二级信息按钮禁用状态背景色
  --cdm-button-outlined-secondary-info-disabled-font-color: var(--cdm-theme-color-info-disabled); // 线框二级信息按钮禁用状态字体颜色
  --cdm-button-flat-primary-font-color: var(--cdm-theme-color-primary); // 文字主要按钮字体颜色
  --cdm-button-flat-primary-active-font-color: var(--cdm-theme-color-primary-active); // 文字主要按钮激活状态字体颜色
  --cdm-button-flat-primary-disabled-font-color: var(--cdm-theme-color-primary-disabled); // 文字主要按钮禁用状态字体颜色
  --cdm-button-flat-success-font-color: var(--cdm-theme-color-success); // 文字成功按钮字体颜色
  --cdm-button-flat-success-active-font-color: var(--cdm-theme-color-success-active); // 文字成功按钮激活状态字体颜色
  --cdm-button-flat-success-disabled-font-color: var(--cdm-theme-color-success-disabled); // 文字成功按钮禁用状态字体颜色
  --cdm-button-flat-warning-font-color: var(--cdm-theme-color-warning); // 文字警告按钮字体颜色
  --cdm-button-flat-warning-active-font-color: var(--cdm-theme-color-warning-active); // 文字警告按钮激活状态字体颜色
  --cdm-button-flat-warning-disabled-font-color: var(--cdm-theme-color-warning-disabled); // 文字警告按钮禁用状态字体颜色
  --cdm-button-flat-danger-font-color: var(--cdm-theme-color-danger); // 文字错误按钮字体颜色
  --cdm-button-flat-danger-active-font-color: var(--cdm-theme-color-danger-active); // 文字错误按钮激活状态字体颜色
  --cdm-button-flat-danger-disabled-font-color: var(--cdm-theme-color-danger-disabled); // 文字错误按钮禁用状态字体颜色
  --cdm-button-flat-info-font-color: var(--cdm-theme-color-info); // 文字信息按钮字体颜色
  --cdm-button-flat-info-active-font-color: var(--cdm-theme-color-info-active); // 文字信息按钮激活状态字体颜色
  --cdm-button-flat-info-disabled-font-color: var(--cdm-theme-color-info-disabled); // 文字信息按钮禁用状态字体颜色
}
