page {
  --cdm-calendar-bg-color: var(--cdm-theme-bg-color-white); // 背景色
  --cdm-calendar-header-height: var(--cdm-theme-header-height); // 顶部高度
  --cdm-calendar-header-padding-vertical: var(--cdm-theme-spacing-16); // 顶部左右内边距
  --cdm-calendar-header-bg-color: var(--cdm-theme-bg-color-white); // 顶部背景色
  --cdm-calendar-header-font-size: var(--cdm-theme-font-size-subhead); // 顶部标题字体大小
  --cdm-calendar-header-font-color: var(--cdm-theme-font-color-principal); // 顶部标题字体颜色
  --cdm-calendar-header-font-weight: var(--cdm-theme-font-weight-bold); // 顶部标题字体字重
  --cdm-calendar-month-height: 28px; // 月份标题高度
  --cdm-calendar-month-padding-vertical: var(--cdm-theme-spacing-16); // 月份标题左右内边距
  --cdm-calendar-month-bg-color: var(--cdm-theme-bg-color-white); // 月份标题背景色
  --cdm-calendar-month-font-size: var(--cdm-theme-font-size-body); // 月份标题字体大小
  --cdm-calendar-month-font-color: var(--cdm-theme-font-color-principal); // 月份标题字体颜色
  --cdm-calendar-month-font-weight: var(--cdm-theme-font-weight-regular); // 月份标题字体字重
  --cdm-calendar-month-icon-margin: var(--cdm-theme-gap-sm); // 月份标题图标之间和文字的间距
  --cdm-calendar-month-icon-size: var(--cdm-theme-font-size-subhead); // 月份标题图标大小
  --cdm-calendar-month-icon-color: var(--cdm-theme-font-color-secondary); // 月份标题图标颜色
  --cdm-calendar-week-height: 40px; // 周标题高度
  --cdm-calendar-week-bg-color: var(--cdm-theme-bg-color-white); // 周标题背景色
  --cdm-calendar-week-font-size: var(--cdm-theme-font-size-body); // 周标题字体大小
  --cdm-calendar-week-font-color: var(--cdm-theme-font-color-principal); // 周标题字体颜色
  --cdm-calendar-week-font-weight: var(--cdm-theme-font-weight-regular); // 周标题字体字重
  --cdm-calendar-days-horizontal: var(--cdm-theme-spacing-8); // 日期区域上下内边距
  --cdm-calendar-days-bg-color: var(--cdm-theme-bg-color-white); // 日期区域背景色
  --cdm-calendar-day-padding-vertical: var(--cdm-theme-spacing-4); // 单个日期左右内边距
  --cdm-calendar-day-padding-horizontal: var(--cdm-theme-spacing-4); // 单个日期上下内边距
  --cdm-calendar-day-border-width: var(--cdm-theme-border-width-base); // 单个日期边框宽度
  --cdm-calendar-day-border-radius: var(--cdm-theme-border-radius-base); // 单个日期边框圆角
  --cdm-calendar-day-border-color: transparent; // 单个日期边框颜色
  --cdm-calendar-day-font-size: var(--cdm-theme-font-size-subhead); // 单个日期字体大小
  --cdm-calendar-day-font-color: var(--cdm-theme-font-color-secondary); // 单个日期字体颜色
  --cdm-calendar-day-font-weight: var(--cdm-theme-font-weight-bold); // 单个日期字体字重
  --cdm-calendar-day-description-margin: var(--cdm-theme-stacking-xs); // 描述信息和日期的间距
  --cdm-calendar-day-description-font-size: var(--cdm-theme-font-size-caption); // 描述信息字体大小
  --cdm-calendar-day-description-font-color: var(--cdm-theme-font-color-principal); // 描述信息字体颜色
  --cdm-calendar-day-description-font-weight: var(--cdm-theme-font-weight-regular); // 描述信息字体字重
  --cdm-calendar-day-active-border-color: transparent; // 选中日期边框颜色
  --cdm-calendar-day-active-bg-color: var(--cdm-theme-color-primary); // 选中日期背景色
  --cdm-calendar-day-active-font-color: var(--cdm-theme-color-white); // 选中日期字体颜色
  --cdm-calendar-day-active-description-font-color: var(--cdm-theme-color-white); // 选中日期描述信息字体颜色
  --cdm-calendar-day-active-secondary-bg-color: #{$cube--blue-0}; // 选中日期范围背景色
  --cdm-calendar-day-disabled-font-color: var(--cdm-theme-font-color-disabled); // 禁用日期字体颜色
  --cdm-calendar-day-disabled-description-font-color: var(--cdm-theme-font-color-disabled); // 禁用日期描述信息字体颜色
  --cdm-calendar-buttons-padding-horizontal: var(--cdm-theme-stacking-sm); // 底部上下内边距
  --cdm-calendar-buttons-padding-vertical: var(--cdm-theme-spacing-16); // 底部左右内边距
  --cdm-calendar-buttons-bg-color: var(--cdm-theme-bg-color-white); // 底部区域背景色
}
