page {
  --cdm-card-padding-vertical: 0; // 左右内边距
  --cdm-card-padding-horizontal: 0; // 上下内边距
  --cdm-card-border-width: 0; // 边框宽度
  --cdm-card-border-radius: var(--cdm-theme-border-radius-base); // 边框圆角
  --cdm-card-border-color: transparent; // 边框颜色
  --cdm-card-bg-color: var(--cdm-theme-bg-color-white); // 背景色
  --cdm-card-shadow: var(--cdm-theme-shadow-1-down); // 阴影
  --cdm-card-cover-padding-vertical: 0px; // 封面左右内边距
  --cdm-card-cover-padding-top: 0px; // 封面上内边距
  --cdm-card-cover-margin-bottom: var(--cdm-theme-stacking-xs); // 封面下外边距
  --cdm-card-cover-border-radius: var(--cdm-theme-border-radius-base); // 封面边框圆角
  --cdm-card-header-padding-vertical: var(--cdm-theme-spacing-16); // 顶部左右内边距
  --cdm-card-header-padding-horizontal: var(--cdm-theme-spacing-8); // 顶部上下内边距
  --cdm-card-header-border-bottom-width: var(--cdm-theme-border-width-base); // 顶部下边框宽度
  --cdm-card-header-border-color: var(--cdm-theme-border-color-light); // 顶部下边框颜色
  --cdm-card-header-bg-color: var(--cdm-theme-bg-color-white); // 顶部背景色
  --cdm-card-header-title-font-size: var(--cdm-theme-font-size-body); // 顶部标题字体大小
  --cdm-card-header-title-font-color: var(--cdm-theme-font-color-principal); // 顶部标题字体颜色
  --cdm-card-header-title-font-weight: var(--cdm-theme-font-weight-bold); // 顶部标题字体字重
  --cdm-card-header-title-wrap: nowrap; // 顶部标题是否换行
  --cdm-card-header-sub-title-margin-top: var(--cdm-theme-stacking-xs); // 顶部副标题上外边距
  --cdm-card-header-sub-title-font-size: var(--cdm-theme-font-size-body); // 顶部副标题字体大小
  --cdm-card-header-sub-title-font-color: var(--cdm-theme-font-color-secondary); // 顶部副标题字体颜色
  --cdm-card-header-sub-title-font-weight: var(--cdm-theme-font-weight-regular); // 顶部副标题字体字重
  --cdm-card-header-sub-title-wrap: nowrap; // 顶部副标题是否换行
  --cdm-card-header-status-font-size: var(--cdm-theme-font-size-body); // 顶部右侧状态字体大小
  --cdm-card-header-status-font-color: var(--cdm-theme-color-primary); // 顶部右侧状态字体颜色
  --cdm-card-header-status-font-weight: var(--cdm-theme-font-weight-regular); // 顶部右侧状态字体字重
  --cdm-card-header-extra-margin-left: var(--cdm-theme-gap-md); // 顶部额外内容左侧外边距
  --cdm-card-header-extra-font-size: var(--cdm-theme-font-size-body); // 顶部额外区域字体大小
  --cdm-card-header-extra-font-color: var(--cdm-theme-font-color-tertiary); // 顶部额外区域字体颜色
  --cdm-card-header-extra-font-weight: var(--cdm-theme-font-weight-regular); // 顶部额外区域字体字重
  --cdm-card-header-icon-margin: var(--cdm-theme-icon-margin); // 顶部图标和标题的间距
  --cdm-card-header-icon-size: var(--cdm-theme-font-size-subhead); // 顶部图标大小
  --cdm-card-header-icon-color: var(--cdm-theme-font-color-principal); // 顶部图标颜色
  --cdm-card-header-thumbnail-margin: var(--cdm-theme-gap-xs); // 顶部缩略图和标题的间距
  --cdm-card-header-thumbnail-size: 42px; // 顶部缩略图大小
  --cdm-card-header-thumbnail-border-radius: var(--cdm-theme-border-radius-base); // 顶部缩略图边框圆角
  --cdm-card-content-padding-vertical: var(--cdm-theme-spacing-16); // 内容区域左右内边距
  --cdm-card-content-padding-horizontal: 8px; // 内容区域上下内边距
  --cdm-card-content-bg-color: var(--cdm-theme-bg-color-white); // 内容区域背景色
  --cdm-card-content-font-size: var(--cdm-theme-font-size-body); // 内容区域的字体大小
  --cdm-card-content-font-color: var(--cdm-theme-font-color-principal); // 内容区域字体颜色
  --cdm-card-content-font-weight: var(--cdm-theme-font-weight-regular); // 内容区域字体字重
  --cdm-card-footer-padding-vertical: var(--cdm-theme-spacing-16); // 底部左右内边距
  --cdm-card-footer-padding-horizontal: var(--cdm-theme-spacing-8); // 底部上下内边距
  --cdm-card-footer-bg-color: var(--cdm-theme-bg-color-white); // 底部背景色
  --cdm-card-footer-border-top-width: var(--cdm-theme-border-width-base); // 底部上边框宽度
  --cdm-card-footer-border-color: var(--cdm-theme-border-color-light); // 底部上边框颜色
  --cdm-card-footer-font-size: var(--cdm-theme-font-size-body); // 底部字体大小
  --cdm-card-footer-font-color: var(--cdm-theme-font-color-secondary); // 底部字体颜色
  --cdm-card-footer-font-weight: var(--cdm-theme-font-weight-regular); // 底部字体字重
}
