page {
  --cdm-cell-padding-vertical: var(--cdm-theme-spacing-16); // 左右内边距
  --cdm-cell-padding-horizontal: var(--cdm-theme-spacing-12); // 上下内边距
  --cdm-cell-border-width: var(--cdm-theme-border-width-base); // 分隔线宽度
  --cdm-cell-border-color: var(--cdm-theme-border-color-light); // 分隔线颜色
  --cdm-cell-bg-color: var(--cdm-theme-bg-color-white); // 背景色
  --cdm-cell-title-font-size: var(--cdm-theme-font-size-body); // 标题字体大小
  --cdm-cell-title-font-color: var(--cdm-theme-font-color-principal); // 标题字体颜色
  --cdm-cell-title-font-weight: var(--cdm-theme-font-weight-regular); // 标题字体字重
  --cdm-cell-title-line-height: var(--cdm-theme-font-line-height-body); // 标题字体行高
  --cdm-cell-description-font-size: var(--cdm-theme-font-size-caption); // 描述信息字体大小
  --cdm-cell-description-font-color: var(--cdm-theme-font-color-secondary); // 描述信息字体颜色
  --cdm-cell-description-font-weight: var(--cdm-theme-font-weight-regular); // 描述信息字体字重
  --cdm-cell-description-line-height: var(--cdm-theme-font-line-height-caption); // 描述信息字体行高
  --cdm-cell-value-padding-left: var(--cdm-theme-gap-base); // 内容左外边距
  --cdm-cell-value-font-size: var(--cdm-theme-font-size-body); // 内容字体大小
  --cdm-cell-value-font-color: var(--cdm-theme-font-color-secondary); // 内容字体颜色
  --cdm-cell-value-font-weight: var(--cdm-theme-font-weight-regular); // 内容字体字重
  --cdm-cell-icon-margin: var(--cdm-theme-icon-margin); // 图标和文字间距
  --cdm-cell-icon-size: var(--cdm-theme-font-size-subhead); // 图标大小
  --cdm-cell-icon-color: var(--cdm-theme-font-color-secondary); // 图标颜色
  --cdm-cell-disabled-title-font-color: var(--cdm-theme-font-color-disabled); // 禁用状态标题字体颜色
  --cdm-cell-disabled-description-font-color: var(--cdm-theme-font-color-disabled); // 禁用状态描述信息字体颜色
  --cdm-cell-disabled-value-font-color: var(--cdm-theme-font-color-disabled); // 禁用状态内容字体颜色
  --cdm-cell-disabled-icon-color: var(--cdm-theme-font-color-disabled); // 内容字体颜色图标颜色
  --cdm-cell-group-bg-color: transparent; // 背景色
  --cdm-cell-group-header-padding-vertical: var(--cdm-theme-spacing-16); // 标题左右内边距
  --cdm-cell-group-header-padding-horizontal: 8px; // 标题上下内边距
  --cdm-cell-group-title-font-size: var(--cdm-theme-font-size-body); // 标题字体大小
  --cdm-cell-group-title-font-color: var(--cdm-theme-font-color-secondary); // 标题字体颜色
  --cdm-cell-group-title-font-weight: var(--cdm-theme-font-weight-regular); // 标题字体字重
  --cdm-cell-group-title-line-height: 18px; // 标题字体行高
  --cdm-cell-group-description-font-size: var(--cdm-theme-font-size-caption); // 描述信息字体大小
  --cdm-cell-group-description-font-color: #{$cube--gray-5}; // 描述信息字体颜色
  --cdm-cell-group-description-font-weight: var(--cdm-theme-font-weight-regular); // 描述信息字体粗细
  --cdm-cell-group-description-line-height: 14px; // 描述信息的行高
  --cdm-cell-group-border-width: var(--cdm-theme-border-width-base); // 常规模式上下边框
  --cdm-cell-group-border-color: #edeff2; // 常规模式的边框颜色
  --cdm-cell-group-card-margin-vertical: 16px; // 卡片模式的左右外边距
  --cdm-cell-group-card-border-width: var(--cdm-theme-border-width-base); // 卡片模式的边框宽度
  --cdm-cell-group-card-border-radius: 8px; // 卡片模式的边框圆角
  --cdm-cell-group-card-border-color: var(--cdm-theme-border-color-base); // 卡片模式的边框颜色
}
