page {
  --cdm-image-loading-bg-color: var(--cdm-theme-bg-color-base); // 加载状态背景色
  --cdm-image-loading-icon-size: 32px; // 加载状态图标颜色
  --cdm-image-loading-icon-color: var(--cdm-theme-font-color-secondary); // 加载状态图标颜色
}
