page {
  --cdm-input-height: 36px; // 高度
  --cdm-input-padding-vertical: var(--cdm-theme-spacing-8); // 左右内边距
  --cdm-input-border-width: var(--cdm-theme-border-width-base); // 边框粗细
  --cdm-input-border-color: var(--cdm-theme-border-color-base); // 边框颜色
  --cdm-input-border-radius: var(--cdm-theme-border-radius-base); // 边框圆角
  --cdm-input-bg-color: transparent; // 背景色
  --cdm-input-font-size: var(--cdm-theme-font-size-body); // 字体大小
  --cdm-input-font-color: var(--cdm-theme-font-color-principal); // 字体颜色
  --cdm-input-font-weight: var(--cdm-theme-font-weight-regular); // 字体字重
  --cdm-input-placeholder-font-size: var(--cdm-theme-font-size-body); // 占位符字体大小
  --cdm-input-placeholder-font-color: var(--cdm-theme-font-color-tertiary); // 占位符字体颜色
  --cdm-input-prefix-icon-margin: var(--cdm-theme-icon-margin); // 前置图标右外边距
  --cdm-input-prefix-icon-size: var(--cdm-theme-font-size-subhead); // 前置图标大小
  --cdm-input-prefix-icon-color: var(--cdm-theme-font-color-secondary); // 前置图标颜色
  --cdm-input-suffix-icon-margin: var(--cdm-theme-icon-margin); // 后置图标左外边距
  --cdm-input-suffix-icon-size: var(--cdm-theme-font-size-subhead); // 后置图标大小
  --cdm-input-suffix-icon-color: var(--cdm-theme-font-color-secondary); // 后置图标颜色
  --cdm-input-prefix-text-margin: var(--cdm-theme-gap-xs); // 前置文本右外边距
  --cdm-input-prefix-text-font-size: var(--cdm-theme-font-size-body); // 前置文本字体大小
  --cdm-input-prefix-text-font-color: var(--cdm-theme-font-color-secondary); // 前置文本字体颜色
  --cdm-input-suffix-text-margin: var(--cdm-theme-gap-xs); // 后置文本左外边距
  --cdm-input-suffix-text-font-size: var(--cdm-theme-font-size-body); // 后置文本字体大小
  --cdm-input-suffix-text-font-color: var(--cdm-theme-font-color-secondary); // 后置文本字体颜色
  --cdm-input-count-margin: var(--cdm-theme-gap-xs); // 字符统计左外边距
  --cdm-input-count-font-size: var(--cdm-theme-font-size-caption); // 字符统计字体大小
  --cdm-input-count-font-color: var(--cdm-theme-font-color-secondary); // 字符统计字体颜色
  --cdm-input-clear-icon-margin: var(--cdm-theme-icon-margin); // 清除图标左外边距
  --cdm-input-clear-icon-size: var(--cdm-theme-font-size-subhead); // 清除图标大小
  --cdm-input-clear-icon-color: var(--cdm-theme-font-color-secondary); // 清除图标颜色
  --cdm-input-focus-border-color: var(--cdm-theme-color-primary); // 聚焦状态边框颜色
  --cdm-input-focus-bg-color: transparent; // 聚焦状态背景色
  --cdm-input-focus-font-color: var(--cdm-theme-font-color-principal); // 聚焦状态字体颜色
  --cdm-input-focus-placeholder-font-color: var(--cdm-theme-font-color-tertiary); // 聚焦状态占位符字体颜色
  --cdm-input-focus-prefix-icon-color: var(--cdm-theme-font-color-secondary); // 聚焦状态前置图标字体颜色
  --cdm-input-focus-suffix-icon-color: var(--cdm-theme-font-color-secondary); // 聚焦状态后置图标字体颜色
  --cdm-input-focus-prefix-text-font-color: var(--cdm-theme-font-color-secondary); // 聚焦状态前置文本字体颜色
  --cdm-input-focus-suffix-text-font-color: var(--cdm-theme-font-color-secondary); // 聚焦状态后置文本字体颜色
  --cdm-input-focus-count-font-color: var(--cdm-theme-font-color-secondary); // 聚焦状态字符统计字体颜色
  --cdm-input-disabled-border-color: var(--cdm-theme-border-color-disabled); // 禁用状态边框颜色
  --cdm-input-disabled-bg-color: var(--cdm-theme-bg-color-white-disabled); // 禁用状态背景色
  --cdm-input-disabled-font-color: var(--cdm-theme-font-color-disabled); // 禁用状态字体颜色
  --cdm-input-disabled-placeholder-font-color: var(--cdm-theme-font-color-disabled); // 禁用状态占位符字体颜色
  --cdm-input-disabled-prefix-icon-color: var(--cdm-theme-font-color-disabled); // 禁用状态前置图标颜色
  --cdm-input-disabled-suffix-icon-color: var(--cdm-theme-font-color-disabled); // 禁用状态后置图标颜色
  --cdm-input-disabled-prefix-text-font-color: var(--cdm-theme-font-color-disabled); // 禁用状态前置图标颜色
  --cdm-input-disabled-suffix-text-font-color: var(--cdm-theme-font-color-disabled); // 禁用状态后置图标颜色
  --cdm-input-disabled-count-font-color: var(--cdm-theme-font-color-disabled); // 禁用状态字符统计字体颜色
  --cdm-input-invalid-border-color: var(--cdm-theme-color-danger); // 校验失败状态边框颜色
  --cdm-input-invalid-bg-color: transparent; // 校验失败状态背景色
  --cdm-input-invalid-font-color: var(--cdm-theme-color-danger); // 校验失败状态字体颜色
  --cdm-input-invalid-placeholder-font-color: var(--cdm-theme-color-danger); // 校验失败状态占位符字体颜色
  --cdm-input-invalid-prefix-icon-color: var(--cdm-theme-color-danger); // 校验失败状态前置图标颜色
  --cdm-input-invalid-suffix-icon-color: var(--cdm-theme-color-danger); // 校验失败状态后置图标颜色
  --cdm-input-invalid-prefix-text-font-color: var(--cdm-theme-color-danger); // 校验失败状态后置文本颜色
  --cdm-input-invalid-suffix-text-font-color: var(--cdm-theme-color-danger); // 校验失败状态后置文本颜色
  --cdm-input-invalid-count-font-color: var(--cdm-theme-color-danger); // 校验失败状态字符统计字体颜色
  --cdm-input-read-only-border-color: var(--cdm-theme-border-color-base); // 只读状态边框颜色
  --cdm-input-read-only-bg-color: transparent; // 只读状态背景色
  --cdm-input-read-only-font-color: var(--cdm-theme-font-color-secondary); // 只读状态字体颜色
  --cdm-input-read-only-placeholder-font-color: var(--cdm-theme-font-color-secondary); // 只读状态占位符字体颜色
  --cdm-input-read-only-prefix-icon-color: var(--cdm-theme-font-color-secondary); // 只读状态前置图标颜色
  --cdm-input-read-only-suffix-icon-color: var(--cdm-theme-font-color-secondary); // 只读状态后置图标颜色
  --cdm-input-read-only-prefix-text-font-color: var(--cdm-theme-font-color-secondary); // 只读状态前置文本字体颜色
  --cdm-input-read-only-suffix-text-font-color: var(--cdm-theme-font-color-secondary); // 只读状态后置文本字体颜色
  --cdm-input-read-only-count-font-color: var(--cdm-theme-font-color-secondary); // 只读状态字符统计字体颜色
  --cdm-input-large-height: 52px; // 大尺寸高度
  --cdm-input-large-padding-vertical: var(--cdm-theme-gap-sm); // 大尺寸左右内边距
  --cdm-input-large-font-size: var(--cdm-theme-font-size-subhead); // 大尺寸字体大小
  --cdm-input-large-font-weight: var(--cdm-theme-font-weight-regular); // 大尺寸字体字重
  --cdm-input-large-placeholder-font-size: var(--cdm-theme-font-size-subhead); // 大尺寸占位符字体大小
  --cdm-input-large-prefix-icon-size: var(--cdm-theme-font-size-h6); // 大尺寸前置图标大小
  --cdm-input-large-suffix-icon-size: var(--cdm-theme-font-size-h6); // 大尺寸后置图标大小
  --cdm-input-large-prefix-text-margin: var(--cdm-theme-gap-xs); // 大尺寸前置文本右外边距
  --cdm-input-large-prefix-text-font-size: var(--cdm-theme-font-size-subhead); // 大尺寸前置文本字体大小
  --cdm-input-large-prefix-text-font-color: var(--cdm-theme-font-color-secondary); // 大尺寸前置文本字体颜色
  --cdm-input-large-suffix-text-margin: var(--cdm-theme-gap-xs); // 大尺寸后置文本左外边距
  --cdm-input-large-suffix-text-font-size: var(--cdm-theme-font-size-subhead); // 大尺寸后置文本字体大小
  --cdm-input-large-suffix-text-font-color: var(--cdm-theme-font-color-secondary); // 大尺寸后置文本字体颜色
}
