page {
  --cdm-keyboard-padding-vertical: var(--cdm-theme-spacing-8); // 左右内边距
  --cdm-keyboard-padding-horizontal: var(--cdm-theme-spacing-8); // 上下内边距
  --cdm-keyboard-bg-color: #{$cube--blue-0}; // 背景色
  --cdm-keyboard-column-gap: var(--cdm-theme-gap-sm); // 按键列间距
  --cdm-keyboard-row-gap: var(--cdm-theme-stacking-sm); // 按键行间距
  --cdm-keyboard-key-height: 40px; // 单个按键高度
  --cdm-keyboard-key-padding-vertical: var(--cdm-theme-spacing-4); // 单个按键左右内边距
  --cdm-keyboard-key-border-width: var(--cdm-theme-border-width-base); // 单个按键边框宽度
  --cdm-keyboard-key-border-radius: var(--cdm-theme-border-radius-base); // 单个按键边框圆角
  --cdm-keyboard-key-border-color: var(--cdm-theme-bg-color-white); // 单个按键边框颜色
  --cdm-keyboard-key-shadow: var(--cdm-theme-shadow-1-down); // 单个按键阴影
  --cdm-keyboard-key-bg-color: var(--cdm-theme-bg-color-white); // 单个按键背景色
  --cdm-keyboard-key-font-size: var(--cdm-theme-font-size-h6); // 单个按键字体大小
  --cdm-keyboard-key-font-color: var(--cdm-theme-font-color-principal); // 单个按键字体颜色
  --cdm-keyboard-key-font-weight: var(--cdm-theme-font-weight-regular); // 单个按键字体字重
  --cdm-keyboard-key-icon-size: 24px; // 单个按键图标大小
  --cdm-keyboard-key-icon-color: var(--cdm-theme-font-color-principal); // 单个按键图标颜色
  --cdm-keyboard-cancel-key-border-color: var(--cdm-theme-bg-color-white); // 取消按键边框颜色
  --cdm-keyboard-cancel-key-bg-color: var(--cdm-theme-bg-color-white); // 取消按键背景色
  --cdm-keyboard-cancel-key-icon-color: var(--cdm-theme-font-color-principal); // 取消按键图标颜色
  --cdm-keyboard-switch-key-width: 70px; // 语言切换按键的宽度
  --cdm-keyboard-switch-key-font-color: var(--cdm-theme-font-color-principal); // 语言切换按键字体颜色
  --cdm-keyboard-switch-key-primary-font-color: var(--cdm-theme-color-primary); // 语言切换按键当前语言字体颜色
  --cdm-keyboard-key-active-border-color: var(--cdm-theme-bg-color-white-active); // 单个按键激活状态边框颜色
  --cdm-keyboard-key-active-bg-color: var(--cdm-theme-bg-color-white-active); // 单个按键激活状态背景色
  --cdm-keyboard-key-active-font-color: var(--cdm-theme-font-color-principal); // 单个按键激活状态字体颜色
  --cdm-keyboard-key-active-icon-color: var(--cdm-theme-font-color-principal); // 单个按键激活状态图标颜色
  --cdm-keyboard-cancel-key-active-border-color: var(--cdm-theme-bg-color-white-active); // 取消按键激活状态边框颜色
  --cdm-keyboard-cancel-key-active-bg-color: var(--cdm-theme-bg-color-white-active); // 取消按键激活状态背景色
  --cdm-keyboard-cancel-key-active-icon-color: var(--cdm-theme-font-color-principal); // 取消按键激活状态图标颜色
  --cdm-keyboard-switch-key-active-border-color: var(--cdm-theme-bg-color-white-active); // 语言切换按键激活状态边框颜色
  --cdm-keyboard-switch-key-active-bg-color: var(--cdm-theme-bg-color-white-active); // 语言切换按键激活状态背景色
  --cdm-keyboard-switch-key-active-font-color: var(--cdm-theme-font-color-principal); // 语言切换按键激活状态字体颜色
  --cdm-keyboard-switch-key-active-primary-font-color: var(--cdm-theme-color-primary); // 语言切换按键激活状态当前语言字体颜色
  --cdm-keyboard-license-plate-column-gap: var(--cdm-theme-gap-xs); // 车牌键盘列间距
  --cdm-keyboard-license-plate-row-gap: var(--cdm-theme-stacking-sm); // 车牌键盘行间距
  --cdm-keyboard-license-plate-key-font-size: var(--cdm-theme-font-size-subhead); // 车牌键盘单个按键字体大小
}
