page {
  --cdm-pagination-height: 44px; // 高度
  --cdm-pagination-padding-vertical: var(--cdm-theme-spacing-8); // 高度
  --cdm-pagination-bg-color: var(--cdm-theme-bg-color-white); // 背景色
  --cdm-pagination-total-marigin: var(--cdm-theme-gap-xs); // 合计左右外边距
  --cdm-pagination-total-font-size: var(--cdm-theme-font-size-body); // 合计字体大小
  --cdm-pagination-total-font-color: var(--cdm-theme-font-color-principal); // 合计字体颜色
  --cdm-pagination-total-number-margin: var(--cdm-theme-gap-xs); // 合计数值左右外边距
  --cdm-pagination-total-number-font-color: var(--cdm-theme-color-primary); // 合计数值字体颜色
  --cdm-pagination-prev-next-width: 28px; // 翻页按钮宽度
  --cdm-pagination-prev-next-height: 28px; // 翻页按钮高度
  --cdm-pagination-prev-next-margin: var(--cdm-theme-gap-xs); // 翻页按钮左右外边距
  --cdm-pagination-prev-next-border-width: var(--cdm-theme-border-width-base); // 翻页按钮边框宽度
  --cdm-pagination-prev-next-border-radius: var(--cdm-theme-border-radius-base); // 翻页按钮边框圆角
  --cdm-pagination-prev-next-border-color: transparent; // 翻页按钮边框颜色
  --cdm-pagination-prev-bg-color: transparent; // 翻页按钮背景色
  --cdm-pagination-prev-next-font-size: var(--cdm-theme-font-size-body); // 翻页按钮字体大小
  --cdm-pagination-prev-next-font-color: var(--cdm-theme-font-color-principal); // 翻页按钮字体颜色
  --cdm-pagination-prev-next-icon-size: 20px; // 翻页按钮图标大小
  --cdm-pagination-prev-next-icon-color: var(--cdm-theme-font-color-principal); // 翻页按钮图标颜色
  --cdm-pagination-pager-width: 28px; // 页码宽度
  --cdm-pagination-pager-height: 28px; // 页码高度
  --cdm-pagination-pager-margin-right: var(--cdm-theme-gap-xs); // 页码右边距
  --cdm-pagination-pager-border-width: var(--cdm-theme-border-width-base); // 页码边框宽度
  --cdm-pagination-pager-border-color: transparent; // 页码边框颜色
  --cdm-pagination-pager-border-radius: var(--cdm-theme-border-radius-base); // 页码边框圆角
  --cdm-pagination-pager-font-size: var(--cdm-theme-font-size-body); // 页码字体大小
  --cdm-pagination-pager-font-color: var(--cdm-theme-font-color-principal); // 页码字体颜色
  --cdm-pagination-pager-active-border-color: var(--cdm-theme-color-primary); // 页码选中状态边框颜色
  --cdm-pagination-pager-active-bg-color: transparent; // 页码选中状态背景色
  --cdm-pagination-pager-active-font-color: var(--cdm-theme-color-primary); // 页码选中状态字体颜色
  --cdm-pagination-sizes-height: 28px; // 每页大小选择器高度
  --cdm-pagination-sizes-margin: var(--cdm-theme-gap-xs); // 每页大小选择器左右外边距
  --cdm-pagination-sizes-padding-vertical: var(--cdm-theme-spacing-8); // 每页大小选择器左右内边距
  --cdm-pagination-sizes-border-width: var(--cdm-theme-border-width-base); // 每页大小选择器边框宽度
  --cdm-pagination-sizes-border-color: var(--cdm-theme-border-color-base); // 每页大小选择器边框颜色
  --cdm-pagination-sizes-border-radius: var(--cdm-theme-border-radius-base); // 每页大小选择器边框圆角
  --cdm-pagination-sizes-bg-color: transparent; // 每页大小选择器背景色
  --cdm-pagination-sizes-font-size: var(--cdm-theme-font-size-body); // 每页大小选择器字体大小
  --cdm-pagination-sizes-font-color: var(--cdm-theme-font-color-principal); // 每页大小选择器字体颜色
  --cdm-pagination-jumper-margin: var(--cdm-theme-gap-xs); // 页码跳转左右外边距
  --cdm-pagination-jumper-font-size: var(--cdm-theme-font-size-body); // 页码跳转字体大小
  --cdm-pagination-jumper-font-color: var(--cdm-theme-font-color-principal); // 页码跳转字体颜色
  --cdm-pagination-jumper-input-width: 40px; // 页码跳转输入框宽度
  --cdm-pagination-jumper-input-height: 28px; // 页码跳转输入框高度
  --cdm-pagination-jumper-input-margin: var(--cdm-theme-gap-xs); // 页码跳转左右外边距
  --cdm-pagination-disabled-prev-next-border-color: var(--cdm-theme-border-color-disabled); // 禁用状态翻页按钮边框颜色
  --cdm-pagination-disabled-prev-next-bg-color: var(--cdm-theme-bg-color-white-disabled); // 禁用状态翻页按钮背景色
  --cdm-pagination-disabled-prev-next-font-color: var(--cdm-theme-font-color-disabled); // 禁用状态翻页按钮字体颜色
  --cdm-pagination-disabled-prev-next-icon-color: var(--cdm-theme-font-color-disabled); // 禁用状态翻页按钮图标颜色
  --cdm-pagination-disabled-pager-border-color: var(--cdm-theme-border-color-disabled); // 禁用状态页码边框颜色
  --cdm-pagination-disabled-pager-bg-color: var(--cdm-theme-bg-color-white-disabled); // 禁用状态页码背景色
  --cdm-pagination-disabled-pager-font-color: var(--cdm-theme-font-color-disabled); // 禁用状态页码字体颜色
  --cdm-pagination-disabled-sizes-bg-color: var(--cdm-theme-bg-color-white-disabled); // 禁用状态每页大小选择器背景色
  --cdm-pagination-disabled-sizes-border-color: var(--cdm-theme-border-color-disabled); // 禁用状态每页大小选择器边框色
  --cdm-pagination-disabled-sizes-font-color: var(--cdm-theme-font-color-disabled); // 禁用状态每页大小选择器字体颜色
  --cdm-pagination-disabled-jumper-font-color: var(--cdm-theme-font-color-disabled); // 禁用状态页码跳转字体颜色
}
