page {
  --cdm-price-integer-font-size: var(--cdm-theme-font-size-headline); // 整数字体大小
  --cdm-price-integer-font-color: var(--cdm-theme-color-danger); // 整数字体颜色
  --cdm-price-integer-font-weight: var(--cdm-theme-font-weight-bold); // 整数字体字重
  --cdm-price-fraction-font-size: var(--cdm-theme-font-size-body); // 小数字体大小
  --cdm-price-fraction-font-color: var(--cdm-theme-color-danger); // 小数字体颜色
  --cdm-price-fraction-font-weight: var(--cdm-theme-font-weight-bold); // 小数字体字重
  --cdm-price-label-margin-right: var(--cdm-theme-gap-mini); // 标签右外边距
  --cdm-price-label-font-size: var(--cdm-theme-font-size-body); // 标签字体大小
  --cdm-price-label-font-color: var(--cdm-theme-color-danger); // 标签字体颜色
  --cdm-price-label-font-weight: var(--cdm-theme-font-weight-regular); // 标签字体字重
  --cdm-price-currency-font-size: var(--cdm-theme-font-size-body); // 货币符号字体大小
  --cdm-price-currency-font-color: var(--cdm-theme-color-danger); // 货币符号字体颜色
  --cdm-price-currency-font-weight: var(--cdm-theme-font-weight-bold); // 货币符号字体字重
  --cdm-price-prefix-margin-right: 0; // 前缀区域右外边距
  --cdm-price-prefix-font-size: var(--cdm-theme-font-size-caption); // 前缀字体大小
  --cdm-price-prefix-font-color: var(--cdm-theme-color-danger); // 前缀字体颜色
  --cdm-price-prefix-font-weight: var(--cdm-theme-font-weight-regular); // 前缀字体字重
  --cdm-price-suffix-margin-left: var(--cdm-theme-gap-mini); // 后缀字体左外边距
  --cdm-price-suffix-font-size: var(--cdm-theme-font-size-caption); // 后缀字体大小
  --cdm-price-suffix-font-color: var(--cdm-theme-color-danger); // 后缀字体颜色
  --cdm-price-suffix-font-weight: var(--cdm-theme-font-weight-regular); // 后缀字体字重
}
