page {
  --cdm-product-card-padding-vertical: var(--cdm-theme-spacing-8); // 左右内边距
  --cdm-product-card-padding-horizontal: var(--cdm-theme-spacing-8); // 上下内边距
  --cdm-product-card-border-width: var(--cdm-theme-border-width-base); // 边框宽度
  --cdm-product-card-border-radius: var(--cdm-theme-border-radius-base); // 边框圆角
  --cdm-product-card-border-color: transparent; // 边框颜色
  --cdm-product-card-bg-color: var(--cdm-theme-bg-color-white); // 背景色
  --cdm-product-card-image-size: 100px; // 横向状态的图片宽度
  --cdm-product-card-image-margin-right: var(--cdm-theme-gap-md); // 横向状态商品名称和图片的间距
  --cdm-product-card-image-margin-bottom: var(--cdm-theme-stacking-sm); // 纵向状态商品名称和图片的间距
  --cdm-product-card-image-border-radius: var(--cdm-theme-border-radius-base); // 图片边框圆角
  --cdm-product-card-title-font-size: var(--cdm-theme-font-size-subhead); // 商品名称字体大小
  --cdm-product-card-title-font-color: var(--cdm-theme-font-color-principal); // 商品名称字体颜色
  --cdm-product-card-title-font-weight: var(--cdm-theme-font-weight-bold); // 商品名称字体字重
  --cdm-product-card-title-tags-margin-top: var(--cdm-theme-stacking-xs); // 商品标签和商品名称的间距
  --cdm-product-card-original-price-margin-right: var(--cdm-theme-gap-xs); // 商品原价右外边距
  --cdm-product-card-original-price-font-size: var(--cdm-theme-font-size-body); // 商品原价字体大小
  --cdm-product-card-original-price-font-color: var(--cdm-theme-font-color-disabled); // 商品原价字体颜色
  --cdm-product-card-price-margin-top: var(--cdm-theme-stacking-xs); // 商品现价上外边距
  --cdm-product-card-price-margin-bottom: var(--cdm-theme-stacking-xs); // 商品现价下外边距
  --cdm-product-card-price-font-size: var(--cdm-theme-font-size-headline); // 商品现价字体大小
  --cdm-product-card-price-font-color: var(--cdm-theme-font-color-price); // 商品现价字体颜色
  --cdm-product-card-price-font-weight: var(--cdm-theme-font-weight-regular); // 商品现价字体字重
  --cdm-product-card-unit-font-size: var(--cdm-theme-font-size-caption); // 商品价格单位字体大小
  --cdm-product-card-unit-font-color: var(--cdm-theme-font-color-secondary); // 商品价格单位字体颜色
  --cdm-product-card-stock-margin-top: var(--cdm-theme-stacking-xs); // 商品库存上外边距
  --cdm-product-card-stock-font-size: var(--cdm-theme-font-size-body); // 商品库存字体大小
  --cdm-product-card-stock-font-color: var(--cdm-theme-font-color-secondary); // 商品库存字体颜色
  --cdm-product-card-storehouse-margin-top: var(--cdm-theme-stacking-xs); // 仓库地址上外边距
  --cdm-product-card-storehouse-font-size: var(--cdm-theme-font-size-body); // 仓库地址字体大小
  --cdm-product-card-storehouse-font-color: var(--cdm-theme-font-color-secondary); // 仓库地址字体颜色
  --cdm-product-card-storehouse-icon-margin: var(--cdm-theme-icon-margin); // 仓库地址图标和文字间距
  --cdm-product-card-storehouse-icon-size: var(--cdm-theme-font-size-subhead); // 仓库地址图标大小
  --cdm-product-card-storehouse-icon-color: var(--cdm-theme-font-color-secondary); // 仓库地址图标颜色
  --cdm-product-card-cart-icon-size: 24px; // 购物车图标大小
  --cdm-product-card-cart-icon-color: var(--cdm-theme-color-primary); // 购物车图标颜色
  --cdm-product-card-fav-icon-size: 24px; // 收藏图标大小
  --cdm-product-card-fav-icon-color: #{$cube--yellow-5}; // 收藏图标颜色
  --cdm-product-card-disabled-border-color: transparent; // 禁用状态边框颜色
  --cdm-product-card-disabled-bg-color: var(--cdm-theme-bg-color-white-disabled); // 禁用状态背景色
  --cdm-product-card-disabled-title-font-color: var(--cdm-theme-font-color-disabled); // 禁用状态商品标题字体颜色
  --cdm-product-card-disabled-note-margin-top: var(--cdm-theme-stacking-xl); // 禁用状态禁止购买文字上外边距
  --cdm-product-card-disabled-note-font-size: var(--cdm-theme-font-size-body); // 禁用状态禁止购买文字字体大小
  --cdm-product-card-disabled-note-font-color: var(--cdm-theme-font-color-disabled); // 禁用状态禁止购买文字字体颜色
}
