page {
  --cdm-radio-column-gap: var(--cdm-theme-gap-base); // 水平相邻间距
  --cdm-radio-row-gap: var(--cdm-theme-stacking-sm); // 垂直相邻间距
  --cdm-radio-font-size: var(--cdm-theme-font-size-body); // 字体大小
  --cdm-radio-font-color: var(--cdm-theme-font-color-principal); // 字体颜色
  --cdm-radio-input-size: 18px; // 框体宽高
  --cdm-radio-input-margin: var(--cdm-theme-gap-sm); // 框体和文字间距
  --cdm-radio-input-border-width: var(--cdm-theme-border-width-base); // 框体边框宽度
  --cdm-radio-input-border-color: var(--cdm-theme-border-color-base); // 框体边框颜色
  --cdm-radio-input-border-radius: var(--cdm-theme-border-radius-base); // 方型框体边框圆角
  --cdm-radio-input-bg-color: var(--cdm-theme-bg-color-white); // 框体背景色
  --cdm-radio-input-icon-size: 14px; // 框体勾选图标大小
  --cdm-radio-disabled-input-border-color: var(--cdm-theme-border-color-disabled); // 禁用状态框体边框颜色
  --cdm-radio-disabled-input-bg-color: var(--cdm-theme-bg-color-white-disabled); // 禁用状态框体背景色
  --cdm-radio-disabled-font-color: var(--cdm-theme-font-color-disabled); // 禁用状态字体颜色
  --cdm-radio-checked-input-border-color: var(--cdm-theme-color-primary); // 选中状态框体边框颜色
  --cdm-radio-checked-input-bg-color: var(--cdm-theme-color-primary); // 选中状态框体背景色
  --cdm-radio-checked-input-icon-color: var(--cdm-theme-color-white); // 选中状态图标颜色
  --cdm-radio-disabled-checked-input-bg-color: var(--cdm-theme-bg-color-white-disabled); // 选中禁用状态框体背景色
  --cdm-radio-disabled-checked-input-border-color: var(--cdm-theme-border-color-disabled); // 选中禁用状态边框颜色
  --cdm-radio-disabled-checked-input-icon-color: var(--cdm-theme-color-white); // 选中禁用状态图标颜色
}
