page {
  --cdm-selector-width: 76px; // 选项宽度
  --cdm-selector-column-gap: var(--cdm-theme-gap-sm); // 选项列间距
  --cdm-selector-row-gap: var(--cdm-theme-gap-sm); // 选项行间距
  --cdm-selector-padding-vertical: var(--cdm-theme-spacing-8); // 选项左右内边距
  --cdm-selector-padding-horizontal: var(--cdm-theme-spacing-4); // 选项上下内边距
  --cdm-selector-border-width: var(--cdm-theme-border-width-base); // 选项边框粗细
  --cdm-selector-border-color: var(--cdm-theme-border-color-base); // 选项边框颜色
  --cdm-selector-border-radius: var(--cdm-theme-border-radius-base); // 选项边框圆角
  --cdm-selector-bg-color: var(--cdm-theme-bg-color-base); // 选项背景色
  --cdm-selector-label-margin-bottom: var(--cdm-theme-stacking-xs); // 选项标签底部外边距
  --cdm-selector-label-font-size: var(--cdm-theme-font-size-body); // 选项标签字体大小
  --cdm-selector-label-font-color: var(--cdm-theme-font-color-principal); // 选项标签字体颜色
  --cdm-selector-label-font-weight: var(--cdm-theme-font-weight-regular); // 选项标签字重
  --cdm-selector-label-wrap: wrap; // 选项标签是否换行
  --cdm-selector-description-font-size: var(--cdm-theme-font-size-caption); // 选项描述字体大小
  --cdm-selector-description-font-color: var(--cdm-theme-font-color-secondary); // 选项描述字体颜色
  --cdm-selector-description-font-weight: var(--cdm-theme-font-weight-regular); // 选项描述字重
  --cdm-selector-description-wrap: nowrap; // 选项简介是否换行
  --cdm-selector-disabled-border-color: var(--cdm-theme-border-color-disabled); // 禁用状态边框颜色
  --cdm-selector-disabled-bg-color: var(--cdm-theme-bg-color-base-disabled); // 禁用状态背景颜色
  --cdm-selector-disabled-label-font-color: var(--cdm-theme-font-color-disabled); // 禁用状态字体颜色
  --cdm-selector-disabled-description-font-color: var(--cdm-theme-font-color-disabled); // 禁用状态字体颜色
  --cdm-selector-checked-border-color: var(--cdm-theme-color-primary); // 选中状态边框颜色
  --cdm-selector-checked-bg-color: #{$cube--blue-0}; // 选中状态背景颜色
  --cdm-selector-checked-label-font-color: var(--cdm-theme-color-primary); // 选中状态选项标签字体颜色
  --cdm-selector-checked-label-font-weight: var(--cdm-theme-font-weight-regular); // 选中状态选项标签字重
  --cdm-selector-checked-description-font-color: var(--cdm-theme-color-primary); // 选中状态选项描述字体颜色
  --cdm-selector-checked-description-font-weight: var(--cdm-theme-font-weight-regular); // 选中状态选项描述字重
  --cdm-selector-checked-disabled-border-color: var(--cdm-theme-color-primary-disabled); // 选中禁用状态边框颜色
  --cdm-selector-checked-disabled-bg-color: #{$cube--blue-0}; // 选中禁用状态下背景色
  --cdm-selector-checked-disabled-label-font-color: var(--cdm-theme-color-primary-disabled); // 选中禁用状态选项标签字体颜色
  --cdm-selector-checked-disabled-description-font-color: var(--cdm-theme-color-primary-disabled); // 选中禁用状态选项描述字体颜色
  --cdm-selector-checked-icon-border-width-horizontal: 8px; // 勾选图标边框水平宽度
  --cdm-selector-checked-icon-border-width-vertical: 8px; // 勾选图标边框垂直宽度
  --cdm-selector-checked-icon-border-color: var(--cdm-theme-color-primary); // 勾选图标边框颜色
  --cdm-selector-checked-icon-size: 10px; // 勾选图标大小
  --cdm-selector-checked-icon-color: var(--cdm-theme-color-white); // 勾选图标颜色
  --cdm-selector-disabled-checked-icon-border-color: var(--cdm-theme-color-primary-disabled); // 禁用状态勾选图标边框颜色
  --cdm-selector-disabled-checked-icon-color: var(--cdm-theme-color-white); // 禁用状态勾选图标颜色
}
