page {
  --cdm-shopping-cart-padding-vertical: 0; // 左右内边距
  --cdm-shopping-cart-padding-horizontal: var(--cdm-theme-spacing-16); // 上下内边距
  --cdm-shopping-cart-bg-color: var(--cdm-theme-bg-color-base); // 背景色
  --cdm-shopping-cart-group-margin: var(--cdm-theme-stacking-md); // 分组之间的间距
  --cdm-shopping-cart-group-padding-vertical: var(--cdm-theme-spacing-16); // 分组左右内边距
  --cdm-shopping-cart-group-border-width: var(--cdm-theme-border-width-base); // 分组边框粗细
  --cdm-shopping-cart-group-border-color: transparent; // 分组边框颜色
  --cdm-shopping-cart-group-border-radius: var(--cdm-theme-border-radius-lg); // 分组边框圆角
  --cdm-shopping-cart-group-bg-color: var(--cdm-theme-bg-color-white); // 分组背景色
  --cdm-shopping-cart-group-header-height: var(--cdm-theme-header-height); // 分组标题高度
  --cdm-shopping-cart-group-header-font-size: var(--cdm-theme-header-font-size); // 分组标题字体大小
  --cdm-shopping-cart-group-header-font-color: var(--cdm-theme-header-font-color); // 分组标题字体颜色
  --cdm-shopping-cart-group-header-font-weight: var(--cdm-theme-font-weight-bold); // 分组标题字体字重
  --cdm-shopping-cart-group-header-icon-margin: var(--cdm-theme-icon-margin); // 分组标题图标和文字间距
  --cdm-shopping-cart-group-header-icon-size: var(--cdm-theme-font-size-h6); // 分组标题图标大小
  --cdm-shopping-cart-group-header-icon-color: var(--cdm-theme-header-font-color); // 分组标题图标颜色
  --cdm-shopping-cart-item-padding-horizontal: var(--cdm-theme-stacking-md); // 商品卡片的上下内边距
  --cdm-shopping-cart-item-border-width: var(--cdm-theme-border-width-base); // 商品卡片分隔线宽度
  --cdm-shopping-cart-item-border-color: var(--cdm-theme-border-color-light); // 商品卡片分隔线颜色
  --cdm-shopping-cart-item-checkbox-margin-right: var(--cdm-theme-gap-xs); // 商品卡片复选框右外边距
  --cdm-shopping-cart-item-image-margin-right: var(--cdm-theme-gap-md); // 商品卡片图片外边距
  --cdm-shopping-cart-item-image-size: 80px; // 商品卡片图片宽度
  --cdm-shopping-cart-item-image-border-radius: var(--cdm-theme-border-radius-base); // 商品卡片图片边框圆角
  --cdm-shopping-cart-item-title-font-size: var(--cdm-theme-font-size-subhead); // 商品卡片商品名称字体大小
  --cdm-shopping-cart-item-title-font-color: var(--cdm-theme-font-color-principal); // 商品卡片商品名称字体颜色
  --cdm-shopping-cart-item-title-font-weight: var(--cdm-theme-font-weight-regular); // 商品卡片商品名称字体字重
  --cdm-shopping-cart-item-price-margin-top: var(--cdm-theme-stacking-xs); // 商品卡片价格上外边距
  --cdm-shopping-cart-item-price-font-size: var(--cdm-theme-font-size-headline); // 商品卡片价格字体大小
  --cdm-shopping-cart-item-price-font-color: var(--cdm-theme-font-color-price); // 商品卡片价格字体颜色
  --cdm-shopping-cart-item-unit-font-size: var(--cdm-theme-font-size-caption); // 商品卡片单位字体大小
  --cdm-shopping-cart-item-unit-font-color: var(--cdm-theme-font-color-secondary); // 商品卡片单位字体颜色
  --cdm-shopping-cart-item-quantity-width: 104px; // 商品卡片数量部分宽度
  --cdm-shopping-cart-item-quantity-height: var(--cdm-stepper-height); // 商品卡片数量部分高度
  --cdm-shopping-cart-disabled-bg-color: var(--cdm-theme-bg-color-white-disabled); // 失效商品背景色
  --cdm-shopping-cart-disabled-header-height: var(--cdm-theme-header-height); // 失效商品标题高度
  --cdm-shopping-cart-disabled-header-font-size: var(--cdm-theme-font-size-body); // 失效商品标题字体大小
  --cdm-shopping-cart-disabled-header-font-color: var(--cdm-theme-font-color-tertiary); // 失效商品标题字体颜色
  --cdm-shopping-cart-disabled-header-font-weight: var(--cdm-theme-font-weight-regular); // 失效商品标题字体字重
  --cdm-shopping-cart-disabled-item-title-font-color: var(--cdm-theme-font-color-disabled); // 失效商品名称字体颜色
  --cdm-shopping-cart-disabled-item-border-color: var(--cdm-theme-border-color-disabled); // 失效商品分隔线颜色
  --cdm-shopping-cart-disabled-note-margin-top: var(--cdm-theme-stacking-sm); // 失效商品提示文字上外边距
  --cdm-shopping-cart-disabled-note-font-size: var(--cdm-theme-font-size-body); // 失效商品提示文字字体大小
  --cdm-shopping-cart-disabled-note-font-color: var(--cdm-theme-font-color-disabled); // 失效商品提示文字字体颜色
}
