page {
  --cdm-sku-padding-vertical: var(--cdm-theme-spacing-16); // 左右内边距
  --cdm-sku-bg-color: var(--cdm-theme-bg-color-white); // 背景色
  --cdm-sku-header-padding-horizontal: var(--cdm-theme-spacing-16); // 顶部上下内边距
  --cdm-sku-header-border-bottom-width: var(--cdm-theme-border-width-base); // 顶部下边框宽度
  --cdm-sku-header-border-color: transparent; // 顶部下边框颜色
  --cdm-sku-header-goods-image-size: 90px; // 顶部商品图片尺寸
  --cdm-sku-header-goods-image-margin-right: var(--cdm-theme-gap-md); // 顶部商品图片右外边距
  --cdm-sku-header-goods-image-radius: var(--cdm-theme-border-radius-base); // 顶部商品图片边框圆角
  --cdm-sku-header-goods-name-font-size: var(--cdm-theme-font-size-subhead); // 顶部商品名称字体大小
  --cdm-sku-header-goods-name-font-color: var(--cdm-theme-font-color-principal); // 顶部商品名称字体颜色
  --cdm-sku-header-goods-name-font-weight: var(--cdm-theme-font-weight-regular); // 顶部商品名称字体字重
  --cdm-sku-header-original-price-margin-right: var(--cdm-theme-gap-sm); // 顶部商品原始价格右外边距
  --cdm-sku-header-original-price-font-size: var(--cdm-theme-font-size-body); // 顶部商品原始价格字体大小
  --cdm-sku-header-original-price-font-color: var(--cdm-theme-font-color-disabled); // 顶部商品原始价格字体颜色
  --cdm-sku-header-price-margin-top: var(--cdm-theme-stacking-mini); // 顶部商品现价上外边距
  --cdm-sku-header-price-font-size: var(--cdm-theme-font-size-headline); // 顶部商品现价字体大小
  --cdm-sku-header-price-font-color: var(--cdm-theme-font-color-price); // 顶部商品现价字体颜色
  --cdm-sku-header-price-font-weight: var(--cdm-theme-font-weight-regular); // 顶部商品现价字体字重
  --cdm-sku-header-price-tag-font-size: var(--cdm-theme-font-size-body); // 顶部商品价格标签字体大小
  --cdm-sku-header-price-tag-font-color: var(--cdm-theme-font-color-secondary); // 顶部商品价格标签字体颜色
  --cdm-sku-header-stock-number-margin-top: var(--cdm-theme-stacking-sm); // 顶部商品库存数量上外边距
  --cdm-sku-header-stock-number-font-size: var(--cdm-theme-font-size-body); // 顶部商品库存数量字体大小
  --cdm-sku-header-stock-number-font-color: var(--cdm-theme-font-color-secondary); // 顶部商品库存数量字体颜色
  --cdm-sku-header-stock-number-warning-font-color: var(--cdm-theme-color-warning); // 顶部商品库存数量警告字体颜色
  --cdm-sku-header-unit-font-size: var(--cdm-theme-font-size-caption); // 顶部商品数量单位字体大小
  --cdm-sku-header-unit-font-color: var(--cdm-theme-font-color-secondary); // 顶部商品数量单位字体颜色
  --cdm-sku-header-tip-font-size: var(--cdm-theme-font-size-body); // 顶部补充说明字体大小
  --cdm-sku-header-tip-font-color: var(--cdm-theme-font-color-principal); // 顶部补充说明字体颜色
  --cdm-sku-list-item-padding-horizontal: var(--cdm-theme-spacing-12); // 单个规格上下内边距
  --cdm-sku-list-item-border-bottom-width: var(--cdm-theme-border-width-base); // 单个规格下边框宽度
  --cdm-sku-list-item-border-color: var(--cdm-theme-border-color-light); // 单个规格下边框颜色
  --cdm-sku-list-item-title-margin-right: var(--cdm-theme-gap-sm); // 单个规格标题右外边距
  --cdm-sku-list-item-title-margin-bottom: var(--cdm-theme-stacking-sm); // 单个规格标题下外边距
  --cdm-sku-list-item-title-font-size: var(--cdm-theme-font-size-body); // 单个规格标题字体大小
  --cdm-sku-list-item-title-font-color: var(--cdm-theme-font-color-principal); // 单个规格标题字体颜色
  --cdm-sku-list-item-title-multiple-tip-font-size: var(--cdm-theme-font-size-body); // 单个规格多选提示字体大小
  --cdm-sku-list-item-title-multiple-tip-font-color: var(--cdm-theme-font-color-secondary); // 单个规格多选提示字体颜色
  --cdm-sku-list-item-quote-hint-font-size: var(--cdm-theme-font-size-body); // 单个规格限购提示字体大小
  --cdm-sku-list-item-quote-hint-font-color: var(--cdm-theme-color-danger); // 单个规格限购提示字体颜色
  --cdm-sku-footer-padding-horizontal: var(--cdm-theme-spacing-16); // 底部按钮上下内边距
  --cdm-sku-selector-width: var(--cdm-selector-width); // 规则选项宽度
  --cdm-sku-selector-padding-vertical: var(--cdm-selector-padding-vertical); // 规则选项左右内边距
  --cdm-sku-selector-padding-horizontal: var(--cdm-selector-padding-horizontal); // 规则选项上下内边距
}
