page {
  --cdm-soduku-padding-vertical: var(--cdm-theme-spacing-4); // 左右内边距
  --cdm-soduku-padding-horizontal: var(--cdm-theme-spacing-4); // 上下内边距
  --cdm-soduku-border-width: 0; // 边框宽度
  --cdm-soduku-border-radius: 0; // 边框圆角
  --cdm-soduku-border-color: transparent; // 边框颜色
  --cdm-soduku-bg-color: var(--cdm-theme-bg-color-white); // 背景色
  --cdm-soduku-column-gap: var(--cdm-theme-gap-sm); // 列间距
  --cdm-soduku-row-gap: var(--cdm-theme-stacking-sm); // 行间距
  --cdm-soduku-item-width: 76px; // 格子宽度（仅在滚动模式下生效）
  --cdm-soduku-item-padding-vertical: 0; // 格子左右内间距
  --cdm-soduku-item-padding-horizontal: var(--cdm-theme-spacing-8); // 格子上下内间距
  --cdm-soduku-item-border-width: 0; // 格子边框宽度
  --cdm-soduku-item-border-radius: var(--cdm-theme-border-radius-base); // 格子边框圆角
  --cdm-soduku-item-border-color: var(--cdm-theme-border-color-base); // 格子边框颜色
  --cdm-soduku-item-bg-color: var(--cdm-theme-bg-color-white); // 格子背景色
  --cdm-soduku-item-image-width: 36px; // 格子图片宽度
  --cdm-soduku-item-image-height: 36px; // 格子图片高度
  --cdm-soduku-item-image-border-radius: var(--cdm-theme-border-radius-base); // 格子图片边框圆角
  --cdm-soduku-item-label-margin-top: var(--cdm-theme-stacking-sm); // 标题上外边距
  --cdm-soduku-item-label-font-size: var(--cdm-theme-font-size-body); // 标题字体大小
  --cdm-soduku-item-label-font-color: var(--cdm-theme-font-color-principal); // 标题字体颜色
  --cdm-soduku-item-label-font-weight: var(--cdm-theme-font-weight-regular); // 标题字体字重
  --cdm-soduku-item-description-margin-top: var(--cdm-theme-stacking-xs); // 描述信息上外边距
  --cdm-soduku-item-description-font-size: var(--cdm-theme-font-size-caption); // 描述信息字体大小
  --cdm-soduku-item-description-font-color: var(--cdm-theme-font-color-secondary); // 描述信息字体颜色
  --cdm-soduku-item-description-font-weight: var(--cdm-theme-font-weight-regular); // 描述信息字体字重
  --cdm-soduku-item-icon-color: var(--cdm-theme-font-color-principal); // 图标颜色
  --cdm-soduku-item-active-bg-color: var(--cdm-theme-bg-color-white-active); // 格子点击状态背景色
  --cdm-soduku-item-active-label-font-color: var(--cdm-theme-font-color-principal); // 格子点击状态标题字体颜色
  --cdm-soduku-item-active-description-font-color: var(--cdm-theme-font-color-principal); // 格子点击状态描述信息字体颜色
  --cdm-soduku-item-active-icon-color: var(--cdm-theme-font-color-principal); // 格子点击状态图标颜色
}
