page {
  --cdm-table-border-horizontal-width: var(--cdm-theme-border-width-base); // 上下边框宽度
  --cdm-table-border-vertical-width: 0px; // 左右边框宽度
  --cdm-table-border-color: var(--cdm-theme-border-color-light); // 边框颜色
  --cdm-table-bg-color: var(--cdm-theme-bg-color-white); // 背景色
  --cdm-table-header-height: 32px; // 表头高度
  --cdm-table-header-border-bottom-width: var(--cdm-theme-border-width-base); // 表头下边框宽度
  --cdm-table-header-border-color: var(--cdm-theme-border-color-light); // 表头边框颜色
  --cdm-table-header-column-separator-width: var(--cdm-theme-border-width-base); // 表头分割线宽度
  --cdm-table-header-column-separator-height: 16px; // 表头分割线高度
  --cdm-table-header-column-separator-color: var(--cdm-theme-border-color-base); // 表头分割线背景色
  --cdm-table-header-bg-color: var(--cdm-theme-bg-color-white); // 表头背景色
  --cdm-table-header-font-size: var(--cdm-theme-font-size-body); // 表头字体大小
  --cdm-table-header-font-color: var(--cdm-theme-font-color-principal); // 表头字体颜色
  --cdm-table-header-font-weight: var(--cdm-theme-font-weight-bold); // 表头字体字重
  --cdm-table-row-height: 36px; // 行高
  --cdm-table-row-border-width: var(--cdm-theme-border-width-base); // 行分隔线宽度
  --cdm-table-row-border-color: var(--cdm-theme-border-color-light); // 行分隔线颜色
  --cdm-table-row-even-bg-color: #{$cube--yellow-0}; // 偶数行背景色
  --cdm-table-row-odd-bg-color: var(--cdm-theme-bg-color-white); // 奇数行背景色
  --cdm-table-row-selected-bg-color: #{$cube--blue-0}; // 选中行背景色
  --cdm-table-column-pinned-border-width: var(--cdm-theme-border-width-base); // 固定列的边框宽度
  --cdm-table-column-pinned-border-color: var(--cdm-theme-border-color-base); // 固定列的边框颜色
  --cdm-table-cell-padding-vertical: var(--cdm-theme-spacing-8); // 单元格左右内边距
  --cdm-table-cell-vertical-border-width: var(--cdm-theme-border-width-base); // 单元格垂直分隔线宽度
  --cdm-table-cell-vertical-border-color: transparent; // 单元格垂直分隔线颜色
  --cdm-table-cell-font-size: var(--cdm-theme-font-size-body); // 单元格字体大小
  --cdm-table-cell-font-color: var(--cdm-theme-font-color-principal); // 单元格字体颜色
  --cdm-table-checkbox-width: 16px; // 复选框宽度
  --cdm-table-checkbox-height: 16px; // 复选框高度
  --cdm-table-checkbox-border-width: var(--cdm-checkbox-input-border-width); // 复选框边框宽度
  --cdm-table-checkbox-border-radius: var(--cdm-checkbox-input-border-radius); // 复选框边框圆角
  --cdm-table-checkbox-border-color: var(--cdm-checkbox-input-border-color); // 复选框边框颜色
  --cdm-table-checkbox-bg-color: var(--cdm-checkbox-input-bg-color); // 复选框背景色
  --cdm-table-checkbox-checked-border-color: var(--cdm-checkbox-checked-input-bg-color); // 复选框选中状态边框颜色
  --cdm-table-checkbox-checked-bg-color: var(--cdm-checkbox-checked-input-border-color); // 复选框选中状态背景色
  --cdm-table-checkbox-checked-icon-color: var(--cdm-checkbox-checked-input-icon-color); // 复选框选中状态图标颜色
}
