page {
  --cdm-tag-border-width: var(--cdm-theme-border-width-base); // 边框宽度
  --cdm-tag-border-radius: var(--cdm-theme-border-radius-base); // 边框圆角
  --cdm-tag-icon-margin: var(--cdm-theme-icon-margin); // 图标和文字的间距
  --cdm-tag-large-height: 28px; // 大型尺寸高度
  --cdm-tag-large-padding-vertical: var(--cdm-theme-spacing-8); // 大型尺寸左右外边距
  --cdm-tag-large-font-size: var(--cdm-theme-font-size-body); // 大型尺寸字体大小
  --cdm-tag-large-icon-size: var(--cdm-theme-font-size-subhead); // 大型尺寸图标大小
  --cdm-tag-medium-height: 24px; // 中等尺寸高度
  --cdm-tag-medium-padding-vertical: var(--cdm-theme-spacing-8); // 中等尺寸左右外边距
  --cdm-tag-medium-font-size: var(--cdm-theme-font-size-caption); // 中等尺寸字体大小
  --cdm-tag-medium-icon-size: var(--cdm-theme-font-size-body); // 中等尺寸图标大小
  --cdm-tag-small-height: 20px; // 小号尺寸高度
  --cdm-tag-small-padding-vertical: var(--cdm-theme-spacing-4); // 小号尺寸左右外边距
  --cdm-tag-small-font-size: var(--cdm-theme-font-size-caption); // 小号尺寸字体大小
  --cdm-tag-small-icon-size: var(--cdm-theme-font-size-body); // 小号尺寸图标大小
  --cdm-tag-primary-border-color: var(--cdm-theme-color-primary); // 主要类型边框颜色
  --cdm-tag-primary-bg-color: var(--cdm-theme-color-primary); // 主要类型背景色
  --cdm-tag-primary-plain-font-color: var(--cdm-theme-color-primary); // 主要线框类型字体颜色
  --cdm-tag-primary-plain-fill-bg-color: #{$cube--blue-0}; // 主要线框填充类型背景色
  --cdm-tag-success-border-color: var(--cdm-theme-color-success); // 成功类型边框颜色
  --cdm-tag-success-bg-color: var(--cdm-theme-color-success); // 成功类型背景色
  --cdm-tag-success-plain-font-color: var(--cdm-theme-color-success); // 成功线框字体颜色
  --cdm-tag-success-plain-fill-bg-color: #{$cube--green-0}; // 成功线框填充背景色
  --cdm-tag-danger-border-color: var(--cdm-theme-color-danger); // 错误类型边框颜色
  --cdm-tag-danger-bg-color: var(--cdm-theme-color-danger); // 错误类型背景色
  --cdm-tag-danger-plain-font-color: var(--cdm-theme-color-danger); // 错误线框类型字体颜色
  --cdm-tag-danger-plain-fill-bg-color: #{$cube--red-0}; // 错误线框填充背景色
  --cdm-tag-warning-border-color: var(--cdm-theme-color-warning); // 警告类型边框颜色
  --cdm-tag-warning-bg-color: var(--cdm-theme-color-warning); // 警告类型背景色
  --cdm-tag-warning-plain-font-color: var(--cdm-theme-color-warning); // 警告线框类型字体颜色
  --cdm-tag-warning-plain-fill-bg-color: #{$cube--orange-0}; // 警告线框填充类型背景色
  --cdm-tag-info-border-color: var(--cdm-theme-color-info); // 信息类型边框颜色
  --cdm-tag-info-bg-color: var(--cdm-theme-color-info); // 信息类型背景色
  --cdm-tag-info-plain-font-color: var(--cdm-theme-color-info); // 信息线框类型字体颜色
  --cdm-tag-info-plain-fill-bg-color: #{$cube--gray-0}; // 信息线框填充类型背景色
  --cdm-tag-close-icon-size: 16px; // 外部关闭图标大小
  --cdm-tag-close-icon-color: var(--cdm-theme-close-icon-color); // 外部关闭图标颜色
}
