/*
 * 基础主题变量
 * Sass 变量
 */

$cdm-theme-color-white: var(--cdm-theme-color-white);
$cdm-theme-color-black: var(--cdm-theme-color-black);
$cdm-theme-color-primary: var(--cdm-theme-color-primary);
$cdm-theme-color-primary-disabled: var(--cdm-theme-color-primary-disabled);
$cdm-theme-color-primary-active: var(--cdm-theme-color-primary-active);
$cdm-theme-color-success: var(--cdm-theme-color-success);
$cdm-theme-color-success-disabled: var(--cdm-theme-color-success-disabled);
$cdm-theme-color-success-active: var(--cdm-theme-color-success-active);
$cdm-theme-color-info: var(--cdm-theme-color-info);
$cdm-theme-color-info-disabled: var(--cdm-theme-color-info-disabled);
$cdm-theme-color-info-active: var(--cdm-theme-color-info-active);
$cdm-theme-color-warning: var(--cdm-theme-color-warning);
$cdm-theme-color-warning-disabled: var(--cdm-theme-color-warning-disabled);
$cdm-theme-color-warning-active: var(--cdm-theme-color-warning-active);
$cdm-theme-color-danger: var(--cdm-theme-color-danger);
$cdm-theme-color-danger-disabled: var(--cdm-theme-color-danger-disabled);
$cdm-theme-color-danger-active: var(--cdm-theme-color-danger-active);
$cdm-theme-icon-bleed: var(--cdm-theme-icon-bleed);
$cdm-theme-icon-margin: var(--cdm-theme-icon-margin);
$cdm-theme-font-family: var(--cdm-theme-font-family);
$cdm-theme-font-code-family: var(--cdm-theme-font-code-family);
$cdm-theme-font-variant: var(--cdm-theme-font-variant);
$cdm-theme-font-size-footnote: var(--cdm-theme-font-size-footnote);
$cdm-theme-font-size-overline: var(--cdm-theme-font-size-overline);
$cdm-theme-font-size-caption: var(--cdm-theme-font-size-caption);
$cdm-theme-font-size-body: var(--cdm-theme-font-size-body);
$cdm-theme-font-size-subhead: var(--cdm-theme-font-size-subhead);
$cdm-theme-font-size-headline: var(--cdm-theme-font-size-headline);
$cdm-theme-font-size-h6: var(--cdm-theme-font-size-h6);
$cdm-theme-font-size-h5: var(--cdm-theme-font-size-h5);
$cdm-theme-font-size-h4: var(--cdm-theme-font-size-h4);
$cdm-theme-font-weight-regular: var(--cdm-theme-font-weight-regular);
$cdm-theme-font-weight-bold: var(--cdm-theme-font-weight-bold);
$cdm-theme-font-line-height-footnote: var(--cdm-theme-font-line-height-footnote);
$cdm-theme-font-line-height-overline: var(--cdm-theme-font-line-height-overline);
$cdm-theme-font-line-height-caption: var(--cdm-theme-font-line-height-caption);
$cdm-theme-font-line-height-body: var(--cdm-theme-font-line-height-body);
$cdm-theme-font-line-height-subhead: var(--cdm-theme-font-line-height-subhead);
$cdm-theme-font-line-height-headline: var(--cdm-theme-font-line-height-headline);
$cdm-theme-font-line-height-h6: var(--cdm-theme-font-line-height-h6);
$cdm-theme-font-line-height-h5: var(--cdm-theme-font-line-height-h5);
$cdm-theme-font-line-height-h4: var(--cdm-theme-font-line-height-h4);
$cdm-theme-font-color-principal: var(--cdm-theme-font-color-principal);
$cdm-theme-font-color-secondary: var(--cdm-theme-font-color-secondary);
$cdm-theme-font-color-tertiary: var(--cdm-theme-font-color-tertiary);
$cdm-theme-font-color-quaternary: var(--cdm-theme-font-color-quaternary);
$cdm-theme-font-color-price: var(--cdm-theme-font-color-price);
$cdm-theme-font-color-disabled: var(--cdm-theme-font-color-disabled);
$cdm-theme-spacing-2: var(--cdm-theme-spacing-2);
$cdm-theme-spacing-4: var(--cdm-theme-spacing-4);
$cdm-theme-spacing-8: var(--cdm-theme-spacing-8);
$cdm-theme-spacing-12: var(--cdm-theme-spacing-12);
$cdm-theme-spacing-16: var(--cdm-theme-spacing-16);
$cdm-theme-spacing-20: var(--cdm-theme-spacing-20);
$cdm-theme-spacing-24: var(--cdm-theme-spacing-24);
$cdm-theme-spacing-32: var(--cdm-theme-spacing-32);
$cdm-theme-spacing-40: var(--cdm-theme-spacing-40);
$cdm-theme-spacing-48: var(--cdm-theme-spacing-48);
$cdm-theme-spacing-56: var(--cdm-theme-spacing-56);
$cdm-theme-spacing-64: var(--cdm-theme-spacing-64);
$cdm-theme-stacking-mini: var(--cdm-theme-stacking-mini);
$cdm-theme-stacking-xs: var(--cdm-theme-stacking-xs);
$cdm-theme-stacking-sm: var(--cdm-theme-stacking-sm);
$cdm-theme-stacking-md: var(--cdm-theme-stacking-md);
$cdm-theme-stacking-base: var(--cdm-theme-stacking-base);
$cdm-theme-stacking-lg: var(--cdm-theme-stacking-lg);
$cdm-theme-stacking-xl: var(--cdm-theme-stacking-xl);
$cdm-theme-gap-xs: var(--cdm-theme-gap-xs);
$cdm-theme-gap-sm: var(--cdm-theme-gap-sm);
$cdm-theme-gap-md: var(--cdm-theme-gap-md);
$cdm-theme-gap-base: var(--cdm-theme-gap-base);
$cdm-theme-border-width-thin: var(--cdm-theme-border-width-thin);
$cdm-theme-border-width-base: var(--cdm-theme-border-width-base);
$cdm-theme-border-width-bold: var(--cdm-theme-border-width-bold);
$cdm-theme-border-radius-sm: var(--cdm-theme-border-radius-sm);
$cdm-theme-border-radius-base: var(--cdm-theme-border-radius-base);
$cdm-theme-border-radius-lg: var(--cdm-theme-border-radius-lg);
$cdm-theme-border-radius-max: var(--cdm-theme-border-radius-max);
$cdm-theme-border-color-base: var(--cdm-theme-border-color-base);
$cdm-theme-border-color-light: var(--cdm-theme-border-color-light);
$cdm-theme-border-color-dark: var(--cdm-theme-border-color-dark);
$cdm-theme-border-color-disabled: var(--cdm-theme-border-color-disabled);
$cdm-theme-bg-color-base: var(--cdm-theme-bg-color-base);
$cdm-theme-bg-color-base-disabled: var(--cdm-theme-bg-color-base-disabled);
$cdm-theme-bg-color-base-active: var(--cdm-theme-bg-color-base-active);
$cdm-theme-bg-color-white: var(--cdm-theme-bg-color-white);
$cdm-theme-bg-color-white-active: var(--cdm-theme-bg-color-white-active);
$cdm-theme-bg-color-white-disabled: var(--cdm-theme-bg-color-white-disabled);
$cdm-theme-shadow-1-down: var(--cdm-theme-shadow-1-down);
$cdm-theme-shadow-2-down: var(--cdm-theme-shadow-2-down);
$cdm-theme-header-height: var(--cdm-theme-header-height);
$cdm-theme-header-font-size: var(--cdm-theme-header-font-size);
$cdm-theme-header-font-color: var(--cdm-theme-header-font-color);
$cdm-theme-close-icon-size: var(--cdm-theme-close-icon-size);
$cdm-theme-close-icon-color: var(--cdm-theme-close-icon-color);
